Repository navikt/syk-dig: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
  "*.{md,html,css,json,graphql,graphqls,md,mdx,js}": "yarn prettier --write",
  "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

Boost ram to requested to 512Mi
  nais/nais-dev.yaml
  nais/nais-prod.yaml
Due: none

add new avvisningsgrunn
  schema.json
  src/graphql/queries/graphql.generated.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

add new avvisningsgrunn (#93)
  schema.json
  src/graphql/queries/graphql.generated.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

add avvisningsgrunn telefonkontakt and annet
  src/components/Sykmelding/AvvisSection/AvvisSection.tsx
  src/components/Sykmelding/SykmeldingForm.test.tsx
  src/components/Sykmelding/SykmeldingForm.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/save-oppgave.graphql
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

add avvisningsgrunn telefonkontakt and annet (#94)
  src/components/Sykmelding/AvvisSection/AvvisSection.tsx
  src/components/Sykmelding/SykmeldingForm.test.tsx
  src/components/Sykmelding/SykmeldingForm.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/save-oppgave.graphql
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

bump dependencies
  package.json
  src/graphql/queries/graphql.generated.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

bump dependencies (#95)
  package.json
  src/graphql/queries/graphql.generated.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix lint
  src/components/FormComponents/CountryPicker/CountryCombobox/CountryCombobox.test.tsx
  src/components/FormComponents/DiagnosePicker/DiagnoseCombobox/DiagnoseCombobox.tsx
  src/components/OppgaveView/DocumentTabLabel.tsx
  src/components/OppgaveView/DocumentsViewer.tsx
Due: yarn eslint --fix --max-warnings=0

bump designsystemet and some others
  package.json
  scripts/debt.sh
  src/components/FormComponents/Pasientopplysninger/DatoSykmeldingenBleSkrevet.tsx
  src/components/FormComponents/Sykmeldingsperiode/PeriodePicker.tsx
  src/components/PageHeader/PageHeader.tsx
  src/components/Sykmelding/SykmeldingForm.test.tsx
  src/style/global.css
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore/bump designsystemet (#96)
  package.json
  scripts/debt.sh
  src/components/FormComponents/CountryPicker/CountryCombobox/CountryCombobox.test.tsx
  src/components/FormComponents/DiagnosePicker/DiagnoseCombobox/DiagnoseCombobox.tsx
  src/components/FormComponents/Pasientopplysninger/DatoSykmeldingenBleSkrevet.tsx
  src/components/FormComponents/Sykmeldingsperiode/PeriodePicker.tsx
  src/components/OppgaveView/DocumentTabLabel.tsx
  src/components/OppgaveView/DocumentsViewer.tsx
  src/components/PageHeader/PageHeader.tsx
  src/components/Sykmelding/SykmeldingForm.test.tsx
  src/style/global.css
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

add http header csp
  next.config.js
Due: yarn prettier --write

add http header csp (#97)
  next.config.js
Due: yarn prettier --write

Update nais-demo.yaml
  nais/nais-demo.yaml
Due: none

set modal to be closed at first
  src/components/OppgaveView/DocumentTabLabel.tsx
Due: yarn eslint --fix --max-warnings=0

set modal to be closed at first (#98)
  src/components/OppgaveView/DocumentTabLabel.tsx
Due: yarn eslint --fix --max-warnings=0

bump more after ferie
  package.json
  public/mockServiceWorker.js
  src/utils/env.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

use @navikt/diagnosekoder
  package.json
  src/pages/api/diagnose/[system].api.ts
  src/pages/api/diagnose/data/icd10.json
  src/pages/api/diagnose/data/icpc2.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

bump deps
  Dockerfile
  next.config.mjs
  package.json
  scripts/debt.sh
  yarn.lock
Due: yarn prettier --write

use recommended distroless
  Dockerfile
Due: none

add permissions for workflows
  .github/workflows/deploy.yaml
Due: none

replace jest with vitest
  jest.config.js
  jest.setup.js
  next.config.mjs
  package.json
  src/components/FormComponents/CountryPicker/CountryCombobox/CountryCombobox.test.tsx
  src/components/FormComponents/CountryPicker/CountryPicker.tsx
  src/components/FormComponents/DiagnosePicker/DiagnoseCombobox/DiagnoseCombobox.test.tsx
  src/components/FormComponents/DiagnosePicker/DiagnosePicker.tsx
  src/components/FormComponents/Pasientopplysninger/Adresser/Oppholdsadresse.test.tsx
  src/components/FormComponents/Pasientopplysninger/DatoSykmeldingenBleSkrevet.test.tsx
  src/components/FormComponents/Sykmeldingsperiode/GradInput.test.tsx
  src/components/FormComponents/Sykmeldingsperiode/PeriodePicker.test.tsx
  src/components/FormComponents/Sykmeldingsperiode/PeriodeSelect.test.tsx
  src/components/PageHeader/PageHeader.test.tsx
  src/components/Sykmelding/SykmeldingForm.test.tsx
  src/components/Sykmelding/Sykmeldingsperiode.test.tsx
  src/mocks/handlers.ts
  src/pages/oppgave/[oppgaveId].test.tsx
  vitest.config.ts
  vitest.setup.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

bump aksel v5
  package.json
  src/components/ConfirmButton/ConfirmButton.module.css
  src/components/ConfirmButton/ConfirmButton.tsx
  src/components/OppgaveView/DocumentTabLabel.tsx
  src/components/Sykmelding/ActionSection/ActionSection.tsx
  src/components/Sykmelding/ActionSection/FeedbackModal.tsx
  src/components/Sykmelding/AvvisSection/AvvisSection.tsx
  src/components/Sykmelding/SykmeldingForm.test.tsx
  src/pages/_app.page.tsx
  vitest.setup.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

add dependabot.yml [skip ci]
  .github/dependabot.yml
Due: none

update dependabot.yml [skip ci]
  .github/dependabot.yml
Due: none

bump dependencies
  package.json
  public/mockServiceWorker.js
  yarn.lock
Due: yarn prettier --write

Trigger redirect
  nais/redirect-dev.yaml
  nais/redirect-prod.yaml
Due: none

bulk-bump deps
  Dockerfile
  package.json
  public/mockServiceWorker.js
  yarn.lock
Due: yarn prettier --write

:sparkles: enable feature toggle
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  package.json
  src/auth/withAuth.ts
  src/pages/_app.page.tsx
  src/pages/index.page.tsx
  src/pages/oppgave/[oppgaveId].page.tsx
  src/toggles/context.tsx
  src/toggles/ssr.test.ts
  src/toggles/ssr.ts
  src/toggles/toggles.ts
  src/toggles/utils.ts
  src/utils/env.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

:construction:
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  src/pages/index.page.tsx
  src/pages/oppgave/[oppgaveId].page.tsx
Due: yarn eslint --fix --max-warnings=0
