Repository navikt/syk-dig: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: dependency bump skippertak
  .yarn/releases/yarn-4.0.2.cjs
  .yarn/releases/yarn-4.1.1.cjs
  .yarnrc.yml
  package.json
  public/mockServiceWorker.js
  src/components/FormComponents/FieldError/FieldError.tsx
  src/components/FormComponents/Pasientopplysninger/Adresser/Matrikkeladresse.tsx
  src/components/FormComponents/Pasientopplysninger/Adresser/Utenlandskadresse.tsx
  src/components/FormComponents/Pasientopplysninger/Adresser/Vegadresse.tsx
  src/mocks/handlers.ts
  tsconfig.json
  vitest.config.mts
  vitest.setup.mts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix: bug with warning about unsaved when returning to gosys og avvising
  src/components/Sykmelding/ActionSection/ActionSection.tsx
  src/components/Sykmelding/AvvisSection/AvvisSection.tsx
  src/components/Sykmelding/SykmeldingForm.tsx
  src/components/Sykmelding/formDataUtils.ts
  src/graphql/apollo.ts
  src/mocks/handlers.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): aksel v6
  next.config.mjs
  package.json
  src/aksel-server.ts
  src/aksel.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore(deps): bump jose"
  public/mockServiceWorker.js
Due: yarn prettier --write

chore: enable auto instrumentation
  nais/nais-dev.yaml
  nais/nais-prod.yaml
Due: none

chore: clean up unused feature toggles
  src/components/Sykmelding/ActionSection/mutations/useHandleSave.ts
  src/components/Sykmelding/AndreOpplysninger.tsx
  src/components/Sykmelding/SykmeldingForm.tsx
  src/components/Sykmelding/formDataUtils.ts
  src/toggles/rsc.ts
  src/toggles/toggles.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): bump all minors
  package.json
  public/mockServiceWorker.js
  yarn.lock
Due: yarn prettier --write

chore(deps): bump RTL
  package.json
  src/components/Sykmelding/SykmeldingForm.test.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: enable logging to faro as well as elastic"
  nais/nais-prod.yaml
Due: none

chore: enable loki in dev
  nais/nais-dev.yaml
Due: none

chore: bump dependencies
  package.json
  public/mockServiceWorker.js
  yarn.lock
Due: yarn prettier --write

chore(deps): tsm sync-cmd: upgrade transitive deps ws, ip, bracers
  yarn.lock
Due: none

chore: div fix
  src/components/nasjonal-oppgave/NasjonalOppgaveView.tsx
  src/components/nasjonal-oppgave/form/ActionSection.tsx
  src/components/nasjonal-oppgave/form/sections/ArbeidsgiverFormSection.tsx
  src/components/nasjonal-oppgave/form/sections/UtdypendeOpplysningerSection.tsx
  src/components/nasjonal-oppgave/form/sections/behandler/BehandlerFieldGroup.tsx
  src/components/nasjonal-oppgave/form/sections/behandler/BehandletDatoField.tsx
  src/components/nasjonal-oppgave/form/sections/diagnose/AndreDiagnoseOpplysningerFieldGroup.tsx
  src/components/nasjonal-oppgave/form/sections/mulighet-for-arbeid/FomTomPicker.tsx
  src/components/nasjonal-oppgave/form/sections/mulighet-for-arbeid/ForholdArbeidsplassenFieldGroup.tsx
  src/components/nasjonal-oppgave/form/sections/mulighet-for-arbeid/MedisinskArsakFieldGroup.tsx
  src/components/nasjonal-oppgave/form/sections/mulighet-for-arbeid/PeriodeFieldGroup.tsx
  src/components/split-view-layout/SplitDocumentView.tsx
  src/components/utenlandsk-oppgave/UtenlandskOppgaveView.tsx
Due: yarn eslint --fix --max-warnings=0

chore: non-ferdigstilt smreg still has to proxy pdfs through smreg-backend
  src/components/nasjonal-oppgave/NasjonalOppgaveStates.tsx
  src/components/split-view-layout/document/DocumentView.tsx
  src/pages/api/smreg/[[...path]].ts
Due: yarn eslint --fix --max-warnings=0

chore: can smreg PDF use same API as syk-dig PDFs?
  src/components/nasjonal-oppgave/NasjonalOppgaveFerdigstiltView.tsx
  src/components/nasjonal-oppgave/NasjonalOppgaveStates.tsx
  src/components/nasjonal-oppgave/NasjonalOppgaveView.tsx
  src/components/nasjonal-oppgave/form/ActionSection.tsx
  src/components/nasjonal-oppgave/form/NasjonalSykmeldingForm.tsx
  src/components/nasjonal-oppgave/form/nasjonalSykmeldingDefaultValues.ts
  src/components/nasjonal-oppgave/form/useNasjonalSykmeldingSubmitHandler.ts
  src/components/nasjonal-oppgave/schema/oppgave/Oppgave.ts
  src/components/nasjonal-oppgave/schema/sykmelding/Papirsykmelding.ts
  src/components/nasjonal-oppgave/smreg/smreg-mapping.test.ts
  src/components/nasjonal-oppgave/smreg/smreg-mapping.ts
  src/components/registrer-sykmelding/RegistrerSykmeldingDocuments.tsx
  src/components/split-view-layout/document/DocumentView.tsx
  src/components/utenlandsk-oppgave/UtenlandskOppgaveView.tsx
  src/pages/api/smreg/[[...path]].ts
Due: yarn eslint --fix --max-warnings=0

fix: redirect to modia when korriger sykmelding
  nais/envs/.env.demo
  nais/envs/.env.dev
  src/components/nasjonal-oppgave/__tests__/revertToGosysOppgave.test.tsx
  src/components/nasjonal-oppgave/form/ActionSection.tsx
Due: yarn eslint --fix --max-warnings=0

fix: spelling
  src/components/Sykmelding/ActionSection/MutationFeedbackSection.tsx
  src/components/Sykmelding/SykmeldingForm.tsx
  src/components/nasjonal-oppgave/__tests__/revertToGosysOppgave.test.tsx
  src/components/nasjonal-oppgave/form/ActionSection.tsx
  src/components/nasjonal-oppgave/form/SendToGosysButton.tsx
  src/components/nasjonal-oppgave/smreg/rest-apollo-link.ts
  src/utils/gosys.ts
Due: yarn eslint --fix --max-warnings=0

fix: close return for registrer sykmelding
  src/components/registrer-sykmelding/RegistrerSykmeldingView.tsx
  src/components/split-view-layout/SplitDocumentView.tsx
Due: yarn eslint --fix --max-warnings=0

chore: disable smreg→syk-dig workflow redirect in production (for now)
  .github/workflows/deploy-redirect-smreg-prod.yml
Due: none

chore: more explicit workflow names [skip ci]
  .github/workflows/deploy-redirect-smreg-dev.yml
  .github/workflows/deploy-redirect-smreg-prod.yml
Due: none

chore: upgrade next-logger so monkey-patching works with OTEL
  Dockerfile
  next.config.mjs
  package.json
  src/app/layout.tsx
  src/instrumentation.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: clean up dockerfile and logging config
  Dockerfile
  next-logger.config.js
  next-logger.config.mjs
Due: yarn prettier --write

Unedited yarn.lock
  yarn.lock
Due: none

Reverting changes to yarn.lock
  yarn.lock
Due: none

Bumping aksel-dependecies
  package.json
Due: yarn prettier --write

chore: use service discovery for modiacontextholder
  .mise.toml
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  src/modia/ModiaService.ts
Due: yarn eslint --fix --max-warnings=0

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,graphql,graphqls,md,mdx,js}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
