Repository navikt/syk-dig: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
    "*.{md,html,css,json,graphql,graphqls,md,mdx,js,yml,yaml}": "yarn prettier --write",
    "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

chore: add pasient query for najsonal sykmelding
  e2e/nasjonal/load-person.spec.ts
  schema.json
  src/app/api/smreg/[[...path]]/config.ts
  src/components/nasjonal-oppgave/__tests__/oppgaveMapping.test.tsx
  src/components/nasjonal-oppgave/__tests__/smregTestUtils.tsx
  src/components/nasjonal-oppgave/__tests__/testData/dataCreators.ts
  src/components/nasjonal-oppgave/__tests__/testData/mockDb.ts
  src/components/nasjonal-oppgave/form/sections/PasientOpplysningerFormSection.tsx
  src/components/nasjonal-oppgave/mock/mock-handler.ts
  src/components/nasjonal-oppgave/mock/pasientNavn.json
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/nasjonal-oppgave.graphql
  src/mocks/handlers.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: add logger on error for nasjonal lagre mutation
  src/components/nasjonal-oppgave/form/useNasjonalSykmeldingSubmitHandler.ts
Due: yarn eslint --fix --max-warnings=0

chore: update caniuse-lite
  yarn.lock
Due: none

chore: add sykmelder query for nasjonal sykmelding
  schema.json
  src/app/api/smreg/[[...path]]/config.ts
  src/components/nasjonal-oppgave/__tests__/apiError.test.tsx
  src/components/nasjonal-oppgave/__tests__/loadPasient.test.tsx
  src/components/nasjonal-oppgave/__tests__/oppgaveMapping.test.tsx
  src/components/nasjonal-oppgave/__tests__/smregTestUtils.tsx
  src/components/nasjonal-oppgave/__tests__/testData/dataCreators.ts
  src/components/nasjonal-oppgave/__tests__/testData/mockDb.ts
  src/components/nasjonal-oppgave/__tests__/testUtils.tsx
  src/components/nasjonal-oppgave/form/sections/behandler/BehandlerInfo.tsx
  src/components/nasjonal-oppgave/mock/mock-handler.ts
  src/components/nasjonal-oppgave/mock/sykmelder.json
  src/components/nasjonal-oppgave/schema/Pasient.ts
  src/components/nasjonal-oppgave/schema/Sykmelder.ts
  src/components/nasjonal-oppgave/smreg/rest-apollo-link.ts
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/nasjonal-oppgave.graphql
  src/mocks/handlers.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: add til gosys mutation for nasjonal sykmelding
  e2e/nasjonal/revert-to-gosys.spec.ts
  schema.json
  src/app/api/smreg/[[...path]]/config.ts
  src/components/nasjonal-oppgave/form/ActionSection.tsx
  src/components/nasjonal-oppgave/form/useOtherSykmeldingActions.ts
  src/components/nasjonal-oppgave/mock/mock-handler.ts
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/save-oppgave-nasjonal.graphql
  src/mocks/handlers.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: add avvis nasjonal oppgave mutation
  e2e/nasjonal/avvis-oppgave.spec.ts
  e2e/utils/request.ts
  schema.json
  src/app/api/smreg/[[...path]]/config.ts
  src/components/nasjonal-oppgave/form/ActionSection.tsx
  src/components/nasjonal-oppgave/form/useOtherSykmeldingActions.ts
  src/components/nasjonal-oppgave/mock/mock-handler.ts
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/save-oppgave-nasjonal.graphql
  src/mocks/handlers.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix: til gosys mutation tuple types
  src/components/nasjonal-oppgave/form/useOtherSykmeldingActions.ts
Due: yarn eslint --fix --max-warnings=0

fix: increace timeout for playwright
  playwright.config.ts
Due: yarn eslint --fix --max-warnings=0

fix: set timeout for playwright Registrer button
  e2e/nasjonal/submit-oppgave.spec.ts
Due: yarn eslint --fix --max-warnings=0

chore: add melding to feil journalposttype
  src/components/registrer-sykmelding/RegistrerSykmeldingView.tsx
  src/graphql/queries/graphql.generated.ts
Due: yarn eslint --fix --max-warnings=0

chore: add melding to feil journalposttype (#368)
  src/components/registrer-sykmelding/RegistrerSykmeldingView.tsx
  src/graphql/queries/graphql.generated.ts
Due: yarn eslint --fix --max-warnings=0

fix: add journalpost status enum to schema
  schema.json
  src/graphql/queries/graphql.generated.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

automated: update distroless with newest digest
  Dockerfile
Due: none

chore: let playwright wait for operation name
  e2e/nasjonal/avvis-oppgave.spec.ts
  e2e/nasjonal/mulighet-for-arbeid.spec.ts
  e2e/nasjonal/revert-to-gosys.spec.ts
  e2e/nasjonal/submit-oppgave.spec.ts
  e2e/utenlandsk/avvisning.spec.ts
  e2e/utenlandsk/innsending.spec.ts
  e2e/utils/request.ts
Due: yarn eslint --fix --max-warnings=0

chore: bump dependenices
  package.json
  src/app/api/logger/route.ts
  src/components/Sykmelding/formDataUtils.ts
  src/mocks/handlers.ts
  src/utils/test/apolloTestUtils.ts
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: skip e2e test for chrome because of bug
  e2e/nasjonal/submit-oppgave.spec.ts
Due: yarn eslint --fix --max-warnings=0

chore: bump vite 6.3.5
  package.json
  yarn.lock
Due: yarn prettier --write

chore: clean up after smreg rest link
  src/app/api/smreg/[[...path]]/config.ts
  src/app/api/smreg/[[...path]]/route.ts
  src/components/nasjonal-oppgave/NasjonalOppgaveStates.tsx
  src/components/nasjonal-oppgave/form/useNasjonalSykmeldingSubmitHandler.ts
  src/components/nasjonal-oppgave/mock/.gitignore
  src/components/nasjonal-oppgave/mock/mock-handler.ts
  src/components/nasjonal-oppgave/nasjonal-sykmelding-mapping.test.ts
  src/components/nasjonal-oppgave/nasjonal-sykmelding-mapping.ts
  src/components/nasjonal-oppgave/smreg/api.ts
  src/components/nasjonal-oppgave/smreg/rest-apollo-link.ts
  src/components/split-view-layout/document/DocumentView.tsx
  src/graphql/apollo.ts
  src/utils/testUtils.tsx
Due: yarn eslint --fix --max-warnings=0

chore: clean up after smreg rest link
  src/app/api/smreg/[[...path]]/config.ts
  src/app/api/smreg/[[...path]]/route.ts
  src/components/nasjonal-oppgave/NasjonalOppgaveStates.tsx
  src/components/nasjonal-oppgave/form/useNasjonalSykmeldingSubmitHandler.ts
  src/components/nasjonal-oppgave/mock/.gitignore
  src/components/nasjonal-oppgave/mock/mock-handler.ts
  src/components/nasjonal-oppgave/nasjonal-sykmelding-mapping.test.ts
  src/components/nasjonal-oppgave/nasjonal-sykmelding-mapping.ts
  src/components/nasjonal-oppgave/smreg/api.ts
  src/components/nasjonal-oppgave/smreg/rest-apollo-link.ts
  src/components/split-view-layout/document/DocumentView.tsx
  src/graphql/apollo.ts
  src/mocks/index.ts
  src/utils/testUtils.tsx
Due: yarn eslint --fix --max-warnings=0

fix: accessibility
  src/components/FormComponents/dates/SelectedDate.tsx
  src/components/PageHeader/PageHeader.tsx
  src/components/PageHeader/extras/Flexjar.tsx
  src/components/PageHeader/extras/changelog/Changelog.tsx
  src/components/form-layout/FormInfo.tsx
  src/components/nasjonal-oppgave/form/ActionSection.tsx
  src/components/nasjonal-oppgave/form/sections/behandler/BehandlerInfo.tsx
  src/components/registrer-sykmelding/RegistrerSykmeldingView.tsx
  src/components/split-view-layout/document/DocumentViewNoDocuments.tsx
Due: yarn eslint --fix --max-warnings=0

fix: add missing legend
  src/components/nasjonal-oppgave/form/sections/UtdypendeOpplysningerSection.tsx
  src/components/nasjonal-oppgave/form/sections/mulighet-for-arbeid/ForholdArbeidsplassenFieldGroup.tsx
  src/components/nasjonal-oppgave/form/sections/mulighet-for-arbeid/MedisinskArsakFieldGroup.tsx
  src/components/nasjonal-oppgave/form/sections/mulighet-for-arbeid/PeriodeFieldGroup.tsx
Due: yarn eslint --fix --max-warnings=0

fix: add metadata for page
  src/app/page.tsx
Due: yarn eslint --fix --max-warnings=0
