Repository navikt/syk-dig: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: use service discovery for modiacontextholder (#294)
  .mise.toml
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  src/modia/ModiaService.ts
Due: yarn eslint --fix --max-warnings=0

fix: modia error
  src/components/PageHeader/PageHeader.test.tsx
  src/components/PageHeader/PageHeader.tsx
  src/graphql/localState/modiaLocalSchema.graphqls
  src/graphql/localState/modiaQueries.graphql
  src/graphql/queries/graphql.generated.ts
  src/mocks/data/dataCreators.ts
  src/modia/ModiaResponseSchema.ts
  src/modia/ModiaService.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix: modia error (#295)
  src/components/PageHeader/PageHeader.test.tsx
  src/components/PageHeader/PageHeader.tsx
  src/graphql/localState/modiaLocalSchema.graphqls
  src/graphql/localState/modiaQueries.graphql
  src/graphql/queries/graphql.generated.ts
  src/mocks/data/dataCreators.ts
  src/modia/ModiaResponseSchema.ts
  src/modia/ModiaService.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix: Fix modiacontext_host
  src/modia/ModiaService.ts
Due: yarn eslint --fix --max-warnings=0

chore: have HOST env be actual host not URL
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  src/modia/ModiaService.ts
Due: yarn eslint --fix --max-warnings=0

chore: skipperdeps (+vitest v2)
  .yarn/releases/yarn-4.1.1.cjs
  .yarn/releases/yarn-4.3.1.cjs
  .yarnrc.yml
  package.json
  public/mockServiceWorker.js
  yarn.lock
Due: yarn prettier --write

feat: add info about new smreg→syk-dig change
  src/components/nasjonal-oppgave/__tests__/newAppHint.test.tsx
  src/components/nasjonal-oppgave/form/NasjonalSykmeldingForm.tsx
Due: yarn eslint --fix --max-warnings=0

chore: remove unused config from nais-*.yml
  nais/nais-dev.yaml
  nais/nais-prod.yaml
Due: none

chore: add some happy-path logging for nasjonal sykmelding
  src/components/nasjonal-oppgave/form/ActionSection.tsx
  src/components/nasjonal-oppgave/form/useNasjonalSykmeldingSubmitHandler.ts
  src/components/nasjonal-oppgave/smreg/rest-apollo-link.ts
Due: yarn eslint --fix --max-warnings=0

chore: enable smreg→syk-dig ingress
  .github/workflows/deploy-redirect-smreg-prod.yml
Due: none

chore: bump checkout actions [skip ci]
  .github/workflows/deploy-redirect-dev.yml
  .github/workflows/deploy-redirect-prod.yml
  .github/workflows/deploy-redirect-smreg-dev.yml
  .github/workflows/deploy-redirect-smreg-prod.yml
Due: none

chore: make smreg alert into a collapsable expansion panel
  src/components/nasjonal-oppgave/form/NasjonalSykmeldingForm.tsx
Due: yarn eslint --fix --max-warnings=0

chore: make logging a bit more specific
  src/components/nasjonal-oppgave/form/useNasjonalSykmeldingSubmitHandler.ts
  src/components/nasjonal-oppgave/form/useOtherSykmeldingActions.ts
Due: yarn eslint --fix --max-warnings=0

chore: enable wonderwall autologin
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  public/favicon.ico
  src/app/favicon.ico
Due: none

chore: just have dev scenarios on / instead of own route
  src/app/_dev-scenarios.tsx
  src/app/page.tsx
Due: yarn eslint --fix --max-warnings=0

chore: just have dev/demo scenarios on / instead of /test route
  src/app/_dev-scenarios.tsx
  src/app/page.tsx
Due: yarn eslint --fix --max-warnings=0

chore: disable response size limit on document
  src/pages/api/document/[...path].ts
Due: yarn eslint --fix --max-warnings=0

fix: default to a single period if saved oppgave has empty periodelist
  src/components/Sykmelding/SykmeldingForm.test.tsx
  src/components/Sykmelding/formDataUtils.ts
Due: yarn eslint --fix --max-warnings=0

fix: too many diagnose-system formats
  src/components/nasjonal-oppgave/form/nasjonalSykmeldingDefaultValues.ts
Due: yarn eslint --fix --max-warnings=0

chore: ignore eslint 9 in dependabot [skip ci]
  .github/dependabot.yml
Due: none

chore(deps): bump minors
  .yarn/releases/yarn-4.3.1.cjs
  .yarn/releases/yarn-4.4.0.cjs
  .yarnrc.yml
  package.json
  public/mockServiceWorker.js
  yarn.lock
Due: yarn prettier --write

fix: missing x-nav-enhet on avvis nasjonal sykmelding
  src/components/nasjonal-oppgave/form/NasjonalSykmeldingForm.tsx
  src/components/nasjonal-oppgave/form/useOtherSykmeldingActions.ts
  src/components/nasjonal-oppgave/mock/mock-handler.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): bump aksel
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): fix ws vulnerability (remove bundle analyzer for now)
  next.config.mjs
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): bump
  package.json
  yarn.lock
Due: yarn prettier --write

feat: implement new and improved diagnosepicker
  package.json
  src/app/api/country/route.ts
  src/app/api/diagnose/[system]/route.ts
  src/auth/rsc.ts
  src/components/FormComponents/DiagnosePicker/DiagnosePicker.module.css
  src/components/FormComponents/DiagnosePicker/DiagnosePicker.tsx
  src/components/FormComponents/DiagnosePicker/diagnose-combobox/DiagnoseCombobox.test.tsx
  src/components/FormComponents/DiagnosePicker/diagnose-combobox/DiagnoseCombobox.tsx
  src/components/FormComponents/DiagnosePicker/diagnose-combobox/DiagnoseComboboxAction.ts
  src/components/FormComponents/combobox/AkselifiedCombobox.module.css
  src/components/FormComponents/combobox/AkselifiedCombobox.tsx
  src/toggles/rsc.ts
  src/toggles/toggles.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: implement new and improved diagnosepicker
  package.json
  src/app/_preload.tsx
  src/app/api/country/route.ts
  src/app/api/diagnose/[system]/_search-system.ts
  src/app/api/diagnose/[system]/route.ts
  src/app/layout.tsx
  src/auth/rsc.ts
  src/components/FormComponents/DiagnosePicker/DiagnosePicker.module.css
  src/components/FormComponents/DiagnosePicker/DiagnosePicker.tsx
  src/components/FormComponents/DiagnosePicker/diagnose-combobox/DiagnoseCombobox.test.tsx
  src/components/FormComponents/DiagnosePicker/diagnose-combobox/DiagnoseCombobox.tsx
  src/components/FormComponents/DiagnosePicker/diagnose-combobox/DiagnoseComboboxAction.ts
  src/components/FormComponents/combobox/AkselifiedCombobox.module.css
  src/components/FormComponents/combobox/AkselifiedCombobox.tsx
  src/middleware.ts
  src/mocks/index.ts
  src/toggles/rsc.ts
  src/toggles/toggles.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: implement new and improved diagnosepicker (#304)
  package.json
  src/app/_preload.tsx
  src/app/api/country/route.ts
  src/app/api/diagnose/[system]/_search-system.ts
  src/app/api/diagnose/[system]/route.ts
  src/app/layout.tsx
  src/auth/rsc.ts
  src/components/FormComponents/DiagnosePicker/DiagnosePicker.module.css
  src/components/FormComponents/DiagnosePicker/DiagnosePicker.tsx
  src/components/FormComponents/DiagnosePicker/diagnose-combobox/DiagnoseCombobox.test.tsx
  src/components/FormComponents/DiagnosePicker/diagnose-combobox/DiagnoseCombobox.tsx
  src/components/FormComponents/DiagnosePicker/diagnose-combobox/DiagnoseComboboxAction.ts
  src/components/FormComponents/combobox/AkselifiedCombobox.module.css
  src/components/FormComponents/combobox/AkselifiedCombobox.tsx
  src/middleware.ts
  src/mocks/index.ts
  src/toggles/rsc.ts
  src/toggles/toggles.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix: demo-delete
  .github/workflows/demo-delete.yaml
Due: none

fix: demo-delete (#305)
  .github/workflows/demo-delete.yaml
Due: none

chore: simplify middleware unleash cookie
  src/middleware.ts
Due: yarn eslint --fix --max-warnings=0

chore: use @ariakit/react for new country picker
  src/app/api/country/_countries.ts
  src/app/api/country/_types.ts
  src/app/api/country/route.ts
  src/components/FormComponents/CountryPicker/CountryCombobox/CountryCombobox.tsx
  src/components/FormComponents/CountryPicker/CountryPicker.tsx
  src/components/FormComponents/CountryPicker/country-combobox/CountryCombobox.test.tsx
  src/components/FormComponents/CountryPicker/country-combobox/CountryCombobox.tsx
  src/components/FormComponents/DiagnosePicker/diagnose-combobox/DiagnoseCombobox.tsx
  src/components/FormComponents/Pasientopplysninger/Adresser/Utenlandskadresse.tsx
  src/components/FormComponents/combobox/AkselifiedCombobox.tsx
  src/mocks/handlers-test.ts
  src/utils/countries/countries-norwegian.json
  src/utils/countries/index.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: use @ariakit/react for new country picker (#306)
  src/app/api/country/_countries.ts
  src/app/api/country/_types.ts
  src/app/api/country/route.ts
  src/components/FormComponents/CountryPicker/CountryCombobox/CountryCombobox.tsx
  src/components/FormComponents/CountryPicker/CountryPicker.tsx
  src/components/FormComponents/CountryPicker/country-combobox/CountryCombobox.test.tsx
  src/components/FormComponents/CountryPicker/country-combobox/CountryCombobox.tsx
  src/components/FormComponents/DiagnosePicker/diagnose-combobox/DiagnoseCombobox.tsx
  src/components/FormComponents/Pasientopplysninger/Adresser/Utenlandskadresse.tsx
  src/components/FormComponents/combobox/AkselifiedCombobox.tsx
  src/mocks/handlers-test.ts
  src/utils/countries/countries-norwegian.json
  src/utils/countries/index.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: resizeable panels
  package.json
  src/app/_preload.tsx
  src/app/nasjonal/[oppgaveId]/page.tsx
  src/app/nasjonal/ferdigstilt/[sykmeldingId]/page.tsx
  src/app/oppgave/[oppgaveId]/page.tsx
  src/app/registrer-sykmelding/page.tsx
  src/components/nasjonal-oppgave/NasjonalOppgaveFerdigstiltView.tsx
  src/components/nasjonal-oppgave/NasjonalOppgaveView.tsx
  src/components/nasjonal-oppgave/__tests__/apiError.test.tsx
  src/components/nasjonal-oppgave/__tests__/avvisOppgave.test.tsx
  src/components/nasjonal-oppgave/__tests__/loadPasient.test.tsx
  src/components/nasjonal-oppgave/__tests__/mulighetForArbeid.test.tsx
  src/components/nasjonal-oppgave/__tests__/newAppHint.test.tsx
  src/components/nasjonal-oppgave/__tests__/oppgaveMapping.test.tsx
  src/components/nasjonal-oppgave/__tests__/revertToGosysOppgave.test.tsx
  src/components/nasjonal-oppgave/__tests__/submitOppgave.test.tsx
  src/components/nasjonal-oppgave/form/NasjonalSykmeldingForm.tsx
  src/components/registrer-sykmelding/RegistrerSykmeldingView.tsx
  src/components/split-view-layout/SplitDocumentView.module.css
  src/components/split-view-layout/SplitDocumentView.tsx
  src/components/split-view-layout/persistent-layout.ts
  src/components/split-view-layout/split-tabs/Tabs.tsx
  src/components/split-view-layout/useSplitDocumentState.tsx
  src/components/utenlandsk-oppgave/UtenlandskOppgaveView.test.tsx
  src/components/utenlandsk-oppgave/UtenlandskOppgaveView.tsx
  src/style/global.css
  src/utils/analytics.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,graphql,graphqls,md,mdx,js}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
