Repository navikt/syk-dig: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

use next/navigation
  src/middleware.ts
  src/utils/useParam.ts
  vitest.setup.ts
Due: yarn eslint --fix --max-warnings=0

fix csp
  next.config.mjs
  package.json
  src/app/middleware.ts
  src/middleware.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix oppgave route to use path param instead of query param
  src/app/oppgave/[oppgaveId]/page.tsx
  src/app/oppgave/page.tsx
  src/components/utenlandsk-oppgave/UtenlandskOppgaveView.test.tsx
  src/components/utenlandsk-oppgave/UtenlandskOppgaveView.tsx
  src/utils/useParam.ts
  vitest.setup.ts
Due: yarn eslint --fix --max-warnings=0

fix local development [skip ci]
  src/app/test/page.tsx
  src/auth/rsc.ts
  src/middleware.ts
Due: yarn eslint --fix --max-warnings=0

add type radio
  schema.json
  src/components/registrer-sykmelding/RegistrerSykmeldingView.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/journalpost.graphql
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

lagt til redirect lenke
  package.json
  schema.json
  src/components/registrer-sykmelding/RegistrerSykmeldingView.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/journalpost.graphql
  src/mocks/handlers.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Checkbox (#203)
  package.json
  schema.json
  src/components/registrer-sykmelding/RegistrerSykmeldingView.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/journalpost.graphql
  src/mocks/handlers.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

forskjellige feilmeldinger på forskjellig status
  src/components/registrer-sykmelding/RegistrerSykmeldingView.tsx
  src/mocks/handlers.ts
Due: yarn eslint --fix --max-warnings=0

Remove spaces from JournalpostId
  src/components/registrer-sykmelding/RegistrerSykmeldingView.tsx
Due: yarn eslint --fix --max-warnings=0

use @main for workflows now that node 20 is default [skip ci]
  .github/workflows/demo-delete.yaml
  .github/workflows/deploy.yaml
Due: none

chore: use @navikt/diagnosekoder
  package.json
  src/app/api/diagnose/[system]/_search-system.ts
  src/app/api/diagnose/data/icd10.json
  src/app/api/diagnose/data/icpc2.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: use 2024 diagnosekoder
  package.json
  yarn.lock
Due: yarn prettier --write

change text for register sykmelding
  src/components/Sykmelding/ActionSection/ActionSection.tsx
Due: yarn eslint --fix --max-warnings=0

upgraded yarn dependencies
  package.json
  yarn.lock
Due: yarn prettier --write

upgraded yarn dependencies (#206)
  package.json
  yarn.lock
Due: yarn prettier --write

feat: redirect back to create-sykmelding if needed
  src/components/Sykmelding/SykmeldingForm.tsx
  src/components/registrer-sykmelding/RegistrerSykmeldingView.tsx
  src/mocks/handlers.ts
Due: yarn eslint --fix --max-warnings=0

chore: bump dependencies
  .husky/pre-commit
  package.json
  public/mockServiceWorker.js
  src/components/FormComponents/CustomFormComponents/Combobox.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: fix ip vuln
  package.json
  scripts/postinstall.js
  yarn.lock
Due: yarn prettier --write

chore: use @navikt/oasis
  package.json
  src/auth/pages.ts
  src/auth/rsc.ts
  src/modia/ModiaService.ts
  src/pages/api/document/[...path].ts
  src/pages/api/graphql.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix: broken auth on /api routes
  src/auth/rsc.ts
Due: yarn eslint --fix --max-warnings=0

feat: implement new checkbox for adresseUtland (behind toggle)
  schema.json
  src/components/Sykmelding/ActionSection/mutations/useHandleSave.ts
  src/components/Sykmelding/AndreOpplysninger.tsx
  src/components/Sykmelding/SykmeldingForm.test.tsx
  src/components/Sykmelding/SykmeldingForm.tsx
  src/components/Sykmelding/formDataUtils.ts
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/oppgave.graphql
  src/mocks/data/dataCreators.ts
  src/mocks/data/mockDb.ts
  src/toggles/toggles.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

refactor: make split view functionality more generic
  nais/nais-dev.yaml
  src/components/OppgaveView/DocumentViewerStates.tsx
  src/components/OppgaveView/DocumentsViewer.tsx
  src/components/OppgaveView/JournalpostDocumentsViewer.tsx
  src/components/OppgaveView/JournalpostView.tsx
  src/components/OppgaveView/OppgaveView.tsx
  src/components/registrer-sykmelding/RegistrerSykmeldingDocuments.tsx
  src/components/registrer-sykmelding/RegistrerSykmeldingView.tsx
  src/components/split-view-layout/SplitDocumentView.module.css
  src/components/split-view-layout/SplitDocumentView.tsx
  src/components/split-view-layout/document/DocumentView.module.css
  src/components/split-view-layout/document/DocumentView.tsx
  src/components/split-view-layout/document/DocumentViewNoDocuments.tsx
  src/components/split-view-layout/document/DocumentViewSkeleton.tsx
  src/components/split-view-layout/document/document-tabs/DocumentTab.tsx
  src/components/split-view-layout/document/document-tabs/DocumentTabs.module.css
  src/components/split-view-layout/document/document-tabs/DocumentTabs.tsx
  src/components/split-view-layout/page-title/PageTitle.module.css
  src/components/split-view-layout/page-title/PageTitle.tsx
  src/components/split-view-layout/split-tabs/Tabs.tsx
  src/components/utenlandsk-oppgave/UtenlandskOppgaveView.tsx
  src/components/utenlandsk-oppgave/status/OppgaveStatus.module.css
  src/components/utenlandsk-oppgave/status/OppgaveStatus.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore(deps): bump everything
  package.json
  public/mockServiceWorker.js
  src/components/split-view-layout/SplitDocumentView.tsx
  src/components/utenlandsk-oppgave/UtenlandskOppgaveView.test.tsx
  src/utils/analytics.ts
  src/utils/test/apolloTestUtils.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix: use right path when loading documents in registrer sykmelding
  src/components/registrer-sykmelding/RegistrerSykmeldingDocuments.tsx
  src/components/split-view-layout/document/DocumentView.tsx
Due: yarn eslint --fix --max-warnings=0

refactor: more distinct naming to prepare for nasjonal sykmelding
  src/components/Errors/Errors.tsx
  src/components/Errors/errorUtils.ts
  src/components/FormComponents/CountryPicker/CountryPicker.tsx
  src/components/FormComponents/DiagnosePicker/DiagnosePicker.tsx
  src/components/FormComponents/Pasientopplysninger/DatoSykmeldingenBleSkrevet.tsx
  src/components/FormComponents/Sykmeldingsperiode/GradInput.test.tsx
  src/components/FormComponents/Sykmeldingsperiode/GradInput.tsx
  src/components/FormComponents/Sykmeldingsperiode/PeriodePicker.tsx
  src/components/FormComponents/Sykmeldingsperiode/PeriodeSelect.tsx
  src/components/Sykmelding/SykmeldingForm.tsx
  src/components/form-layout/FormSection.tsx
  src/components/utenlandsk-oppgave/UtenlandskOppgaveView.tsx
Due: yarn eslint --fix --max-warnings=0

chore: fix broken build
  src/components/Sykmelding/ActionSection/ActionSection.tsx
  src/components/Sykmelding/ActionSection/mutations/useHandleSave.ts
  src/components/Sykmelding/AndreOpplysninger.tsx
  src/components/Sykmelding/AvvisSection/AvvisSection.tsx
  src/components/Sykmelding/DiagnoseFormSection.tsx
  src/components/Sykmelding/MangelfullSykmelding.tsx
  src/components/Sykmelding/Pasientopplysninger.tsx
  src/components/Sykmelding/Sykmeldingsperiode.tsx
  src/components/Sykmelding/formDataUtils.ts
Due: yarn eslint --fix --max-warnings=0

chore: dependency bump skippertak
  .yarn/releases/yarn-4.0.2.cjs
  .yarn/releases/yarn-4.1.1.cjs
  .yarnrc.yml
  package.json
  public/mockServiceWorker.js
  src/components/FormComponents/FieldError/FieldError.tsx
  src/components/FormComponents/Pasientopplysninger/Adresser/Matrikkeladresse.tsx
  src/components/FormComponents/Pasientopplysninger/Adresser/Utenlandskadresse.tsx
  src/components/FormComponents/Pasientopplysninger/Adresser/Vegadresse.tsx
  src/mocks/handlers.ts
  tsconfig.json
  vitest.config.mts
  vitest.setup.mts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,graphql,graphqls,md,mdx,js}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
