Repository navikt/syk-dig: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
  "*.{md,html,css,json,graphql,graphqls,md,mdx,js}": "yarn prettier --write",
  "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

chore: added proxy for tilgosys path
  e2e/nasjonal/revert-to-gosys.spec.ts
  next-env.d.ts
  src/app/api/smreg/[[...path]]/config.ts
  src/components/nasjonal-oppgave/mock/mock-handler.ts
Due: yarn eslint --fix --max-warnings=0

chore: added missing proxy to url
  src/components/nasjonal-oppgave/form/useOtherSykmeldingActions.ts
Due: yarn eslint --fix --max-warnings=0

chore: add proxy to smreg path
  e2e/nasjonal/revert-to-gosys.spec.ts
  src/app/api/smreg/[[...path]]/config.ts
  src/app/api/smreg/[[...path]]/route.ts
  src/components/nasjonal-oppgave/__tests__/apiError.test.tsx
  src/components/nasjonal-oppgave/__tests__/avvisOppgave.test.tsx
  src/components/nasjonal-oppgave/__tests__/loadPasient.test.tsx
  src/components/nasjonal-oppgave/__tests__/mulighetForArbeid.test.tsx
  src/components/nasjonal-oppgave/__tests__/oppgaveMapping.test.tsx
  src/components/nasjonal-oppgave/__tests__/smregTestUtils.tsx
  src/components/nasjonal-oppgave/__tests__/submitOppgave.test.tsx
  src/components/nasjonal-oppgave/form/sections/PasientOpplysningerFormSection.tsx
  src/components/nasjonal-oppgave/form/sections/behandler/BehandlerInfo.tsx
  src/components/nasjonal-oppgave/form/useNasjonalSykmeldingSubmitHandler.ts
  src/components/nasjonal-oppgave/form/useOtherSykmeldingActions.ts
  src/components/nasjonal-oppgave/mock/mock-handler.ts
  src/components/nasjonal-oppgave/useNasjonalOppgave.ts
  src/components/split-view-layout/document/DocumentView.tsx
Due: yarn eslint --fix --max-warnings=0

chore: add pre-build script for when trying to build app locally
  .env.development
  .env.test
  nais/envs/.env.demo
  nais/envs/.env.dev
  nais/envs/.env.prod
  package.json
  scripts/pre-build.sh
  src/components/PageHeader/PageHeader.tsx
  src/components/PageHeader/extras/flexjar-service.ts
  src/components/nasjonal-oppgave/smreg/api.ts
  src/toggles/utils.ts
  src/utils/env.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore(deps): bump minors/patches
  package.json
  public/mockServiceWorker.js
  yarn.lock
Due: yarn prettier --write

chore: use locators because ErrorRegion is no longer accessible
  e2e/utenlandsk/validering.spec.ts
Due: yarn eslint --fix --max-warnings=0

chore: bump dependencies
  package.json
  public/mockServiceWorker.js
  yarn.lock
Due: yarn prettier --write

chore(deps): bump yarn [skip ci]
  .yarn/releases/yarn-4.5.0.cjs
  .yarn/releases/yarn-4.5.1.cjs
  .yarnrc.yml
  package.json
Due: yarn prettier --write

chore: next@15 and react@19(RC)
  next.config.ts
  package.json
  src/app/api/document/[...path]/route.ts
  src/app/api/smreg/[[...path]]/route.ts
  src/app/nasjonal/[oppgaveId]/page.tsx
  src/app/nasjonal/ferdigstilt/[sykmeldingId]/page.tsx
  src/app/oppgave/[oppgaveId]/page.tsx
  src/app/registrer-sykmelding/page.tsx
  src/auth/rsc.ts
  src/components/Errors/Errors.tsx
  src/components/FormComponents/SingleCheckbox/SoloCheckbox.tsx
  src/components/PageHeader/extras/Extras.tsx
  src/components/PageHeader/extras/Flexjar.tsx
  src/components/PageHeader/extras/flexjar-actions.ts
  src/components/split-view-layout/persistent-layout.ts
  src/components/split-view-layout/useSplitDocumentState.tsx
  src/toggles/rsc.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: node 22 (now LTS)
  .lintstagedrc
  .mise.toml
  Dockerfile
  package.json
  yarn.lock
Due: yarn prettier --write

chore: remove smregistrering-backend host and outbound rule
  .env.development
  .env.test
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  src/utils/env.ts
Due: yarn eslint --fix --max-warnings=0

chore: wip [skip ci]
  public/mockServiceWorker.js
  schema.json
  src/app/utenlandsk/[sykmeldingId]/page.tsx
  src/components/utenlandsk-sykmelding/UtenlandskSykmelding.tsx
  src/graphql/queries/oppgave.graphql
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: add alert to isValidHpr
  src/components/nasjonal-oppgave/form/sections/behandler/BehandlerInfo.tsx
Due: yarn eslint --fix --max-warnings=0

feat: add alert to isValidHpr (#350)
  src/components/nasjonal-oppgave/form/sections/behandler/BehandlerInfo.tsx
Due: yarn eslint --fix --max-warnings=0

feat: update utenlandsk sykmelding
  schema.json
  src/app/sykmelding/[sykmeldingId]/page.tsx
  src/components/Sykmelding/ActionSection/MutationFeedbackSection.tsx
  src/components/Sykmelding/ActionSection/mutations/useHandleSave.ts
  src/components/Sykmelding/ActionSection/mutations/useTilbakeTilGosys.ts
  src/components/Sykmelding/AvvisSection/AvvisSection.tsx
  src/components/Sykmelding/DigitalisertSykmeldingStatus.tsx
  src/components/Sykmelding/SykmeldingForm.tsx
  src/components/Sykmelding/UpdateSykmeldingForm.tsx
  src/components/utenlandsk-oppgave/UtenlandskOppgaveView.tsx
  src/components/utenlandsk-sykmelding/UtenlandskSykmelding.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/oppgave.graphql
  src/graphql/queries/possible-types.generated.ts
  src/graphql/queries/save-oppgave.graphql
  src/mocks/data/mockDb.ts
  src/mocks/handlers.ts
  src/utils/modia.ts
  src/utils/useOppgaveParam.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: fix stuff
  src/components/Sykmelding/ActionSection/MutationFeedbackSection.tsx
  src/components/Sykmelding/DigitalisertSykmeldingStatus.tsx
  src/components/Sykmelding/UpdateSykmeldingForm.tsx
  src/components/utenlandsk-sykmelding/UtenlandskSykmelding.tsx
Due: yarn eslint --fix --max-warnings=0

Feat/oppdater sykmelding (#351)
  public/mockServiceWorker.js
  schema.json
  src/app/sykmelding/[sykmeldingId]/page.tsx
  src/components/Sykmelding/ActionSection/MutationFeedbackSection.tsx
  src/components/Sykmelding/ActionSection/mutations/useHandleSave.ts
  src/components/Sykmelding/ActionSection/mutations/useTilbakeTilGosys.ts
  src/components/Sykmelding/AvvisSection/AvvisSection.tsx
  src/components/Sykmelding/DigitalisertSykmeldingStatus.tsx
  src/components/Sykmelding/SykmeldingForm.tsx
  src/components/Sykmelding/UpdateSykmeldingForm.tsx
  src/components/utenlandsk-oppgave/UtenlandskOppgaveView.tsx
  src/components/utenlandsk-sykmelding/UtenlandskSykmelding.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/oppgave.graphql
  src/graphql/queries/possible-types.generated.ts
  src/graphql/queries/save-oppgave.graphql
  src/mocks/data/mockDb.ts
  src/mocks/handlers.ts
  src/utils/modia.ts
  src/utils/useOppgaveParam.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore(deps): next 15.1, react 19 and more
  .yarn/releases/yarn-4.5.1.cjs
  .yarn/releases/yarn-4.5.3.cjs
  .yarnrc.yml
  next-env.d.ts
  package.json
  public/mockServiceWorker.js
  src/utils/test/apolloTestUtils.ts
  src/utils/testUtils.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: Revert "chore(deps): next 15.1, react 19 and more"
  .yarn/releases/yarn-4.5.1.cjs
  .yarn/releases/yarn-4.5.3.cjs
  .yarnrc.yml
  next-env.d.ts
  package.json
  public/mockServiceWorker.js
  src/utils/test/apolloTestUtils.ts
  src/utils/testUtils.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: get nasjonal pdf from syk-dig
  src/components/nasjonal-oppgave/NasjonalOppgaveStates.tsx
  src/components/split-view-layout/document/DocumentView.tsx
Due: yarn eslint --fix --max-warnings=0

chore: use .nais
  .github/workflows/demo-delete.yaml
  .github/workflows/deploy-redirect-dev.yml
  .github/workflows/deploy-redirect-prod.yml
  .github/workflows/deploy-redirect-smreg-dev.yml
  .github/workflows/deploy-redirect-smreg-prod.yml
  .github/workflows/deploy.yaml
  .nais/envs/.env.demo
  .nais/envs/.env.dev
  .nais/envs/.env.prod
  .nais/nais-demo.yaml
  .nais/nais-dev.yaml
  .nais/nais-prod.yaml
  .nais/redirect-dev.yaml
  .nais/redirect-prod.yaml
  .nais/redirect-smreg-dev.yaml
  .nais/redirect-smreg-prod.yaml
Due: none

chore: main workflow
  .github/workflows/demo-delete.yaml
  .github/workflows/deploy.yaml
Due: none

chore: upload playwright reports to CDN for easier viewin'
  .github/workflows/deploy.yaml
  playwright.config.ts
Due: yarn eslint --fix --max-warnings=0

chore: added fragments for nasjonalOppgave and NasjonalSykmelding
  schema.json
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/nasjonal-oppgave.graphql
  src/graphql/queries/possible-types.generated.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: added query to get nasjonal oppgave
  src/graphql/queries/nasjonal-oppgave.graphql
Due: yarn prettier --write

chore: bump yarn, resolve vulns, drop explicit vite dep
  .yarn/releases/yarn-4.5.1.cjs
  .yarn/releases/yarn-4.6.0.cjs
  .yarnrc.yml
  next-env.d.ts
  package.json
  public/mockServiceWorker.js
  src/utils/test/apolloTestUtils.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix: set field error if behandler is missing
  src/components/nasjonal-oppgave/__tests__/apiError.test.tsx
  src/components/nasjonal-oppgave/__tests__/mulighetForArbeid.test.tsx
  src/components/nasjonal-oppgave/__tests__/submitOppgave.test.tsx
  src/components/nasjonal-oppgave/form/sections/behandler/BehandlerFieldGroup.tsx
  src/components/nasjonal-oppgave/form/sections/behandler/BehandlerInfo.tsx
Due: yarn eslint --fix --max-warnings=0

automated: update distroless with newest digest
  Dockerfile
Due: none

chore: change checkbox text for sykmelding til 2101
  src/components/Sykmelding/AndreOpplysninger.tsx
Due: yarn eslint --fix --max-warnings=0
