Repository navikt/syk-dig: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: don't re-create yoga each request
  src/app/api/graphql-mock/route.ts
  src/app/api/graphql/route.ts
  src/graphql/apollo.ts
  src/mocks/graphql-yoga.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): zod v4 migration
  next.config.ts
  package.json
  scripts/pre-build.sh
  src/app/api/internal/is_alive/route.ts
  src/components/nasjonal-oppgave/form/sections/diagnose/AnnenLovfestetFravaersgrunnField.tsx
  src/components/nasjonal-oppgave/form/sections/mulighet-for-arbeid/ForholdArbeidsplassenFieldGroup.tsx
  src/components/nasjonal-oppgave/form/sections/mulighet-for-arbeid/MedisinskArsakFieldGroup.tsx
  src/components/nasjonal-oppgave/schema/Sykmelder.ts
  src/components/nasjonal-oppgave/schema/diagnosekoder/Diagnosekoder.ts
  src/components/nasjonal-oppgave/schema/sykmelding/Arbeidsgiver.ts
  src/components/nasjonal-oppgave/schema/sykmelding/MedisinskVurdering.ts
  src/components/nasjonal-oppgave/schema/sykmelding/Periode.ts
  src/instrumentation.ts
  src/modia/ModiaResponseSchema.ts
  src/modia/ModiaService.ts
  src/toggles/rsc.ts
  src/utils/env.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix: logging
  Dockerfile
  next-logger.config.js
  next-logger.config.mjs
Due: yarn prettier --write

refactor: rely on optimistic auth, validate token on data access
  src/app/api/diagnose/route.ts
  src/app/api/graphql/route.ts
  src/app/layout.tsx
  src/auth/rsc.ts
  src/components/nasjonal-oppgave/__tests__/oppgaveMapping.test.tsx
  src/components/split-view-layout/persistent-layout.ts
  src/middleware.ts
  src/modia/ModiaService.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): bump testing libs, few majors, fix tests
  package.json
  public/mockServiceWorker.js
  src/components/FormComponents/DiagnosePicker/diagnose-combobox/DiagnoseCombobox.test.tsx
  src/components/nasjonal-oppgave/__tests__/apiError.test.tsx
  src/components/nasjonal-oppgave/__tests__/loadPasient.test.tsx
  src/components/nasjonal-oppgave/__tests__/oppgaveMapping.test.tsx
  src/utils/test/mswTestUtils.ts
  vitest.config.mts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

refactor: make mock engine session scoped
  src/app/api/document/[...path]/route.ts
  src/components/nasjonal-oppgave/__tests__/apiError.test.tsx
  src/components/nasjonal-oppgave/__tests__/loadPasient.test.tsx
  src/components/nasjonal-oppgave/__tests__/oppgaveMapping.test.tsx
  src/components/nasjonal-oppgave/__tests__/testData/index.ts
  src/components/nasjonal-oppgave/__tests__/testUtils.tsx
  src/components/nasjonal-oppgave/nasjonal-sykmelding-mapping.test.ts
  src/middleware.ts
  src/mocks/MockEngine.ts
  src/mocks/MockSessionStore.ts
  src/mocks/data/index.ts
  src/mocks/graphql-mock-resolvers.ts
  src/mocks/index.ts
  src/mocks/nasjonal/nasjonal-data-creators.ts
  src/mocks/nasjonal/nasjonal-mock.ts
  src/mocks/session.ts
  src/mocks/utenlendsk/utenlandsk-data-creators.ts
  src/mocks/utenlendsk/utenlandsk-example-pdf.ts
  src/mocks/utenlendsk/utenlandsk-mock.ts
Due: yarn eslint --fix --max-warnings=0

chore: cache playwright browsers by playwright version
  .github/workflows/deploy.yaml
Due: yarn prettier --write

automated: update distroless with newest digest
  Dockerfile
Due: none

chore: use node 24 (new LTS)
  .mise.toml
  .yarn/plugins/@yarnpkg/plugin-engines.cjs
  .yarn/releases/yarn-4.5.1.cjs
  .yarnrc.yml
  Dockerfile
  package.json
Due: yarn prettier --write

chore: use new 'modern' github actions
  .github/workflows/demo-delete.yaml
  .github/workflows/deploy.yaml
  yarn.lock
Due: yarn prettier --write

chore(deps): bump all minors/patches
  e2e/.eslintrc
  next.config.ts
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: tailwind@v4
  package.json
  postcss.config.js
  postcss.config.mjs
  src/app/_dev-scenarios.tsx
  src/components/FormComponents/combobox/AkselifiedCombobox.module.css
  src/components/nasjonal-oppgave/form/sections/PasientOpplysningerFormSection.tsx
  src/components/split-view-layout/SplitDocumentView.module.css
  src/style/global.css
  tailwind.config.js
  tailwind.config.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: remove unused deps
  package.json
  src/components/nasjonal-oppgave/form/sections/PasientOpplysningerFormSection.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: add trivy and codeql
  .github/workflows/deploy.yaml
Due: yarn prettier --write

chore: enable prometheus
  .nais/nais-dev.yaml
  .nais/nais-prod.yaml
  package.json
  src/app/api/internal/metrics/route.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: beta-test @navikt/oasis@4.0.0
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): oasis@4
  package.json
  yarn.lock
Due: yarn prettier --write

feat: legg til navEnhet i alle oppdateringer
  schema.json
  src/components/nasjonal-oppgave/form/ActionSection.tsx
  src/components/registrer-sykmelding/RegistrerSykmeldingView.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/journalpost.graphql
  src/graphql/queries/save-oppgave-nasjonal.graphql
  src/graphql/queries/save-oppgave.graphql
  src/mocks/mock-resolvers.generated.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: legg til navEnhet i alle oppdateringer (#389)
  schema.json
  src/components/nasjonal-oppgave/form/ActionSection.tsx
  src/components/registrer-sykmelding/RegistrerSykmeldingView.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/journalpost.graphql
  src/graphql/queries/save-oppgave-nasjonal.graphql
  src/graphql/queries/save-oppgave.graphql
  src/mocks/mock-resolvers.generated.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix: add navEnhet to missing
  src/components/Sykmelding/ActionSection/mutations/useTilbakeTilGosys.ts
Due: yarn eslint --fix --max-warnings=0

feat: vis bedre feilmelding ved feil kanal
  src/components/registrer-sykmelding/RegistrerSykmeldingView.tsx
Due: yarn eslint --fix --max-warnings=0

chore: bump yarn
  .github/workflows/deploy.yaml
  package.json
Due: yarn prettier --write

chore(deps): bump dev deps, vitest@v4
  package.json
  src/components/nasjonal-oppgave/__tests__/apiError.test.tsx
  src/components/nasjonal-oppgave/form/sections/PasientOpplysningerFormSection.tsx
  src/components/nasjonal-oppgave/form/sections/behandler/BehandlerInfo.tsx
  vitest.setup.mts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: speed up builds by manually uploading sbom
  .github/workflows/deploy.yaml
Due: yarn prettier --write

chore: oops, use right team for SBOMs
  .github/workflows/deploy.yaml
Due: yarn prettier --write

chore(deps): bump runtime deps
  package.json
  yarn.lock
Due: yarn prettier --write

chore: migrate to apollo v4
  e2e/nasjonal/submit-oppgave.spec.ts
  package.json
  playwright.config.ts
  src/app/_providers.tsx
  src/components/Sykmelding/ActionSection/ActionSection.tsx
  src/components/Sykmelding/ActionSection/MutationFeedbackSection.tsx
  src/components/Sykmelding/ActionSection/mutations/useHandleSave.ts
  src/components/Sykmelding/ActionSection/mutations/useTilbakeTilGosys.ts
  src/components/Sykmelding/AvvisSection/AvvisSection.tsx
  src/components/Sykmelding/UpdateSykmeldingForm.tsx
  src/components/nasjonal-oppgave/NasjonalOppgaveFerdigstiltView.tsx
  src/components/nasjonal-oppgave/NasjonalOppgaveStates.tsx
  src/components/nasjonal-oppgave/NasjonalOppgaveView.tsx
  src/components/nasjonal-oppgave/__tests__/apiError.test.tsx
  src/components/nasjonal-oppgave/__tests__/loadPasient.test.tsx
  src/components/nasjonal-oppgave/form/ActionSection.tsx
  src/components/nasjonal-oppgave/form/AvvisButton.tsx
  src/components/nasjonal-oppgave/form/SendToGosysButton.tsx
  src/components/nasjonal-oppgave/form/sections/PasientOpplysningerFormSection.tsx
  src/components/nasjonal-oppgave/form/sections/behandler/BehandlerFieldGroup.tsx
  src/components/nasjonal-oppgave/form/sections/behandler/BehandlerInfo.tsx
  src/components/nasjonal-oppgave/form/useNasjonalSykmeldingSubmitHandler.ts
  src/components/nasjonal-oppgave/form/useOtherSykmeldingActions.ts
  src/components/registrer-sykmelding/RegistrerSykmeldingDocuments.tsx
  src/components/registrer-sykmelding/RegistrerSykmeldingView.tsx
  src/components/split-view-layout/document/DocumentView.test.tsx
  src/components/split-view-layout/document/document-tabs/DocumentTab.tsx
  src/components/utenlandsk-oppgave/UtenlandskOppgaveView.tsx
  src/components/utenlandsk-sykmelding/UtenlandskSykmelding.tsx
  src/graphql/apollo.ts
  src/utils/test/apolloTestUtils.ts
  src/utils/testUtils.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: move loadPersion test to playwright
  e2e/nasjonal/load-person.spec.ts
  src/components/nasjonal-oppgave/__tests__/loadPasient.test.tsx
  src/mocks/graphql-mock-resolvers.ts
Due: yarn eslint --fix --max-warnings=0

chore: move apiErrors tests to playwright
  e2e/nasjonal/submit-oppgave.spec.ts
  e2e/nasjonal/user-actions.ts
  src/components/nasjonal-oppgave/__tests__/apiError.test.tsx
  src/mocks/graphql-mock-resolvers.ts
  src/mocks/nasjonal/nasjonal-mock.ts
Due: yarn eslint --fix --max-warnings=0

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,graphql,graphqls,md,mdx,js,yml,yaml}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
