Repository navikt/syk-dig: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
    "*.{md,html,css,json,graphql,graphqls,md,mdx,js,yml,yaml}": "yarn prettier --write",
    "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

fix: diagnosepicker should not be see through
  src/components/FormComponents/combobox/AkselifiedCombobox.module.css
  src/components/FormComponents/combobox/AkselifiedCombobox.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: fix codegen --watch
  package.json
Due: yarn prettier --write

fix: split document view not taking the full height
  src/components/split-view-layout/SplitDocumentView.module.css
Due: yarn prettier --write

chore: migrate to next 16
  .lintstagedrc
  eslint.config.ts
  next-env.d.ts
  next.config.ts
  package.json
  src/app/api/document/[...path]/route.ts
  src/app/layout.tsx
  src/app/nasjonal/[oppgaveId]/page.tsx
  src/app/nasjonal/ferdigstilt/[sykmeldingId]/page.tsx
  src/app/oppgave/[oppgaveId]/page.tsx
  src/app/sykmelding/[sykmeldingId]/page.tsx
  src/components/Sykmelding/SykmeldingForm.tsx
  src/mocks/graphql-yoga.ts
  src/proxy.ts
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: migrate to next 16
  .lintstagedrc
  eslint.config.ts
  next-env.d.ts
  next.config.ts
  package.json
  src/app/api/document/[...path]/route.ts
  src/app/layout.tsx
  src/app/nasjonal/[oppgaveId]/page.tsx
  src/app/nasjonal/ferdigstilt/[sykmeldingId]/page.tsx
  src/app/oppgave/[oppgaveId]/page.tsx
  src/app/sykmelding/[sykmeldingId]/page.tsx
  src/components/PageHeader/PageHeader.tsx
  src/components/Sykmelding/SykmeldingForm.tsx
  src/mocks/graphql-yoga.ts
  src/proxy.ts
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: increase memory request
  .nais/nais-prod.yaml
Due: yarn prettier --write

chore: Increase memory request
  .nais/nais-prod.yaml
Due: yarn prettier --write

chore: resolve react RSC vuln
  .yarnrc.yml
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): bump all da deps
  .yarnrc.yml
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): bump some dev deps
  .yarnrc.yml
  package.json
  yarn.lock
Due: yarn prettier --write

chore: remove elastic log shipping
  .nais/nais-dev.yaml
  .nais/nais-prod.yaml
Due: yarn prettier --write

chore: mise auto corepack [skip ci]
  .mise.toml
Due: none

automated: update distroless with newest digest
  Dockerfile
Due: none

chore: change gosys url from q1 to q2
  .nais/envs/.env.dev
Due: none

chore: bump yarn (disables postinstall scripts)
  package.json
  yarn.lock
Due: yarn prettier --write

chore: fix GHA build
  .github/workflows/deploy.yaml
Due: yarn prettier --write

chore(deps): skippertak, bump minors/patches
  next-env.d.ts
  package.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: move utenlandsk to their own path, redirect old to these new
  e2e/utenlandsk/avvisning.spec.ts
  e2e/utenlandsk/innsending.spec.ts
  e2e/utenlandsk/validering.spec.ts
  next.config.ts
  src/app/utenlandsk/[oppgaveId]/page.tsx
  src/app/utenlandsk/ferdigstilt/[sykmeldingId]/page.tsx
  src/mocks/mock-resolvers.generated.ts
Due: yarn eslint --fix --max-warnings=0

chore: fix up deploy.yaml, don't build for prod on branches
  .github/workflows/deploy.yaml
Due: yarn prettier --write

chore: rewrite gosys ingress to single HAproxy instead of 3 indivdial
  .github/workflows/deploy-redirect-dev.yml
  .github/workflows/deploy-redirect-prod.yml
  .github/workflows/deploy-redirect-smreg-dev.yml
  .github/workflows/deploy-redirect-smreg-prod.yml
  .nais/redirect-dev.yaml
  .nais/redirect-prod.yaml
  .nais/redirect-smreg-dev.yaml
  .nais/redirect-smreg-prod.yaml
Due: yarn prettier --write

chore: prefix monkey patched log messages with "[Next]:"
  Dockerfile
  next-logger.config.cjs
Due: none

chore(deps): migrate to react-resizable-panels@v4
  next-env.d.ts
  package.json
  src/components/split-view-layout/SplitDocumentView.tsx
  src/components/split-view-layout/persistent-layout.ts
  src/components/split-view-layout/useSplitDocumentState.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: migrate nasjonal oppgave mapping RTL tests to playwright
  e2e/nasjonal/.gitkeep
  e2e/nasjonal/oppgave-mapping.spec.tsx
  package.json
  src/components/nasjonal-oppgave/__tests__/.eslintrc
  src/components/nasjonal-oppgave/__tests__/oppgaveMapping.test.tsx
  src/components/utenlandsk-oppgave/UtenlandskOppgaveView.test.tsx
  vitest.config.mts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: distroless nodejs24-debian13
  Dockerfile
Due: none

chore(deps): resolve some vulns
  package.json
  yarn.lock
Due: yarn prettier --write

feat: validate journalpostid input filed
  src/components/registrer-sykmelding/RegistrerSykmeldingView.tsx
Due: yarn eslint --fix --max-warnings=0

feat: validate journalpostid input filed (#432)
  src/components/registrer-sykmelding/RegistrerSykmeldingView.tsx
Due: yarn eslint --fix --max-warnings=0

chore: log auth errors as warn
  src/graphql/apollo.ts
Due: yarn eslint --fix --max-warnings=0

chore: log auth errors as warn (#433)
  src/graphql/apollo.ts
Due: yarn eslint --fix --max-warnings=0

chore: make redirects of paths case insensitive
  .nais/redirect-dev.yaml
  .nais/redirect-prod.yaml
Due: yarn prettier --write

chore: make redirects of paths case insensitive (#434)
  .nais/redirect-dev.yaml
  .nais/redirect-prod.yaml
Due: yarn prettier --write

chore: update attest-sign with new image_ref with digest
  .github/workflows/deploy.yaml
Due: yarn prettier --write
