Repository navikt/syk-dig: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: added fragments for nasjonalOppgave and NasjonalSykmelding
  schema.json
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/nasjonal-oppgave.graphql
  src/graphql/queries/possible-types.generated.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Modifications to NasjonalOppgaveFerdigstiltView
  src/app/nasjonal/ferdigstilt/[sykmeldingId]/page.tsx
  src/components/nasjonal-oppgave/NasjonalOppgaveFerdigstiltView.tsx
Due: yarn eslint --fix --max-warnings=0

Fixed most tests
  src/components/nasjonal-oppgave/__tests__/smregTestUtils.tsx
  src/components/nasjonal-oppgave/__tests__/testData/emptyOppgave.json
  src/components/nasjonal-oppgave/form/NasjonalSykmeldingFormTypes.ts
  src/components/nasjonal-oppgave/schema/sykmelding/Diagnosekoder.ts
  src/components/nasjonal-oppgave/smreg/smreg-mapping.test.ts
  src/components/nasjonal-oppgave/smreg/smreg-mapping.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: added query to get nasjonal oppgave
  src/graphql/queries/nasjonal-oppgave.graphql
Due: yarn prettier --write

Skipped tests temporarily
  src/components/nasjonal-oppgave/NasjonalOppgaveFerdigstiltView.tsx
  src/components/nasjonal-oppgave/NasjonalOppgaveStates.tsx
  src/components/nasjonal-oppgave/__tests__/apiError.test.tsx
  src/components/nasjonal-oppgave/__tests__/avvisOppgave.test.tsx
  src/components/nasjonal-oppgave/__tests__/loadPasient.test.tsx
  src/components/nasjonal-oppgave/__tests__/mulighetForArbeid.test.tsx
  src/components/nasjonal-oppgave/__tests__/smregTestUtils.tsx
  src/components/nasjonal-oppgave/__tests__/submitOppgave.test.tsx
  src/mocks/data/mockDb.ts
  src/mocks/handlers.ts
Due: yarn eslint --fix --max-warnings=0

Added some mock data
  src/components/nasjonal-oppgave/__tests__/apiError.test.tsx
  src/components/nasjonal-oppgave/__tests__/smregTestUtils.tsx
  src/components/nasjonal-oppgave/__tests__/testData/fullOppgave.json
  src/components/nasjonal-oppgave/mock/mock-handler.ts
  src/utils/testUtils.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Removed unused variable
  src/components/nasjonal-oppgave/__tests__/smregTestUtils.tsx
Due: yarn eslint --fix --max-warnings=0

Modified a text
  src/components/registrer-sykmelding/RegistrerSykmeldingView.tsx
Due: yarn eslint --fix --max-warnings=0

Added some console logs
  .github/workflows/deploy.yaml
  src/components/nasjonal-oppgave/NasjonalOppgaveFerdigstiltView.tsx
  src/components/nasjonal-oppgave/NasjonalOppgaveView.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Removed unused import
  src/mocks/data/mockDb.ts
Due: yarn eslint --fix --max-warnings=0

Changed default values
  src/components/nasjonal-oppgave/form/NasjonalSykmeldingFormTypes.ts
  src/components/nasjonal-oppgave/form/nasjonalSykmeldingDefaultValues.ts
Due: yarn eslint --fix --max-warnings=0

Removed unused import
  src/components/nasjonal-oppgave/__tests__/smregTestUtils.tsx
Due: yarn eslint --fix --max-warnings=0

Removed Playwright test temporarily
  .github/workflows/deploy.yaml
Due: yarn prettier --write

Allow null in dates
  src/components/nasjonal-oppgave/form/NasjonalSykmeldingFormTypes.ts
Due: yarn eslint --fix --max-warnings=0

Temporarily disabled merge reports
  .github/workflows/deploy.yaml
Due: yarn prettier --write

Made empty string default date
  src/components/nasjonal-oppgave/form/nasjonalSykmeldingDefaultValues.ts
Due: yarn eslint --fix --max-warnings=0

Updated som tests
  src/app/nasjonal/ferdigstilt/[sykmeldingId]/page.tsx
  src/components/nasjonal-oppgave/NasjonalOppgaveFerdigstiltView.tsx
  src/components/nasjonal-oppgave/NasjonalOppgaveStates.tsx
  src/components/nasjonal-oppgave/__tests__/apiError.test.tsx
  src/components/nasjonal-oppgave/__tests__/avvisOppgave.test.tsx
  src/components/nasjonal-oppgave/__tests__/loadPasient.test.tsx
  src/components/nasjonal-oppgave/__tests__/mulighetForArbeid.test.tsx
  src/components/nasjonal-oppgave/__tests__/oppgaveMapping.test.tsx
  src/components/nasjonal-oppgave/__tests__/smregTestUtils.tsx
  src/components/nasjonal-oppgave/__tests__/submitOppgave.test.tsx
Due: yarn eslint --fix --max-warnings=0

Some changes
  src/components/nasjonal-oppgave/__tests__/apiError.test.tsx
  src/components/nasjonal-oppgave/__tests__/mulighetForArbeid.test.tsx
  src/components/nasjonal-oppgave/__tests__/smregTestUtils.tsx
Due: yarn eslint --fix --max-warnings=0

Some cleaning up
  src/components/nasjonal-oppgave/__tests__/apiError.test.tsx
  src/components/nasjonal-oppgave/__tests__/loadPasient.test.tsx
  src/components/nasjonal-oppgave/__tests__/smregTestUtils.tsx
Due: yarn eslint --fix --max-warnings=0

Fixed FerdigstiltOppgaveByIdQuery
  schema.json
  src/components/nasjonal-oppgave/NasjonalOppgaveFerdigstiltView.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/nasjonal-oppgave.graphql
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Passed the correct parameters to the view
  src/components/nasjonal-oppgave/NasjonalOppgaveFerdigstiltView.tsx
  src/components/nasjonal-oppgave/NasjonalOppgaveStates.tsx
Due: yarn eslint --fix --max-warnings=0

fix: display nasjonal oppgave locally
  src/components/nasjonal-oppgave/NasjonalOppgaveFerdigstiltView.tsx
  src/components/nasjonal-oppgave/NasjonalOppgaveStates.tsx
  src/components/nasjonal-oppgave/NasjonalOppgaveView.tsx
  src/components/nasjonal-oppgave/__tests__/apiError.test.tsx
  src/components/nasjonal-oppgave/__tests__/avvisOppgave.test.tsx
  src/components/nasjonal-oppgave/__tests__/loadPasient.test.tsx
  src/components/nasjonal-oppgave/__tests__/mulighetForArbeid.test.tsx
  src/components/nasjonal-oppgave/__tests__/oppgaveMapping.test.tsx
  src/components/nasjonal-oppgave/__tests__/smregTestUtils.tsx
  src/components/nasjonal-oppgave/__tests__/submitOppgave.test.tsx
  src/components/nasjonal-oppgave/__tests__/testData/emptyOppgave.json
  src/components/nasjonal-oppgave/__tests__/testData/fullOppgave.json
  src/components/nasjonal-oppgave/__tests__/testData/fullOppgaveWithoutPeriods.json
  src/components/nasjonal-oppgave/__tests__/testData/nullFnrOppgave.json
  src/components/nasjonal-oppgave/form/NasjonalSykmeldingFormTypes.ts
  src/components/nasjonal-oppgave/form/nasjonalSykmeldingDefaultValues.ts
  src/components/nasjonal-oppgave/mock/oppgave.json
  src/components/nasjonal-oppgave/schema/sykmelding/Diagnosekoder.ts
  src/components/nasjonal-oppgave/smreg/smreg-mapping.test.ts
  src/components/nasjonal-oppgave/smreg/smreg-mapping.ts
  src/components/nasjonal-oppgave/status/NasjonalOppgaveStatus.tsx
  src/components/registrer-sykmelding/RegistrerSykmeldingView.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/nasjonal-oppgave.graphql
  src/mocks/data/mockDb.ts
  src/mocks/handlers.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Skipping tests
  src/components/nasjonal-oppgave/__tests__/apiError.test.tsx
  src/components/nasjonal-oppgave/__tests__/avvisOppgave.test.tsx
  src/components/nasjonal-oppgave/__tests__/loadPasient.test.tsx
  src/components/nasjonal-oppgave/__tests__/mulighetForArbeid.test.tsx
  src/components/nasjonal-oppgave/__tests__/oppgaveMapping.test.tsx
  src/components/nasjonal-oppgave/__tests__/smregTestUtils.tsx
  src/components/nasjonal-oppgave/__tests__/submitOppgave.test.tsx
Due: yarn eslint --fix --max-warnings=0

Added back playwright tests
  .github/workflows/deploy.yaml
Due: yarn prettier --write

chore: see if any saksbehandlers prefer dark color scheme
  src/app/_providers.tsx
Due: yarn eslint --fix --max-warnings=0

chore: bump dependencies
  package.json
  yarn.lock
Due: yarn prettier --write

automated: update distroless with newest digest
  Dockerfile
Due: none

Added correct type to smregMapping
  src/components/nasjonal-oppgave/form/nasjonalSykmeldingDefaultValues.ts
  src/components/nasjonal-oppgave/smreg/smreg-mapping.ts
Due: yarn eslint --fix --max-warnings=0

Adjusted some tests
  src/components/nasjonal-oppgave/NasjonalOppgaveFerdigstiltView.tsx
  src/components/nasjonal-oppgave/NasjonalOppgaveStates.tsx
  src/components/nasjonal-oppgave/__tests__/smregTestUtils.tsx
Due: yarn eslint --fix --max-warnings=0

chore: fixed return type
  schema.json
  src/components/nasjonal-oppgave/NasjonalOppgaveFerdigstiltView.tsx
  src/components/nasjonal-oppgave/NasjonalOppgaveView.tsx
  src/components/nasjonal-oppgave/form/NasjonalSykmeldingForm.tsx
  src/components/nasjonal-oppgave/form/nasjonalSykmeldingDefaultValues.ts
  src/components/nasjonal-oppgave/form/sections/behandler/BehandlerFieldGroup.tsx
  src/components/nasjonal-oppgave/form/sections/behandler/BehandlerInfo.tsx
  src/components/nasjonal-oppgave/form/sections/behandler/BehandlerSection.tsx
  src/components/nasjonal-oppgave/form/useNasjonalSykmeldingSubmitHandler.ts
  src/components/nasjonal-oppgave/status/NasjonalOppgaveStatus.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/nasjonal-oppgave.graphql
  src/graphql/queries/possible-types.generated.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Fixed smreg mapping tests
  src/components/nasjonal-oppgave/__tests__/testData/emptyOppgave.json
  src/components/nasjonal-oppgave/smreg/smreg-mapping.test.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Modified nasjonaloppgaveferdigstilt
  src/components/nasjonal-oppgave/NasjonalOppgaveFerdigstiltView.tsx
  src/components/nasjonal-oppgave/NasjonalOppgaveStates.tsx
Due: yarn eslint --fix --max-warnings=0

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,graphql,graphqls,md,mdx,js,yml,yaml}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
