Repository navikt/syk-dig: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
  "*.{md,html,css,json,graphql,graphqls,md,mdx}": "yarn prettier --write",
  "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

use nextjs standalone output
  .gitignore
  Dockerfile
  next.config.js
  src/pages/_document.page.tsx
Due: yarn eslint --fix --max-warnings=0

bump deps
  package.json
  public/mockServiceWorker.js
  yarn.lock
Due: yarn prettier --write

WIP [skip ci]
  schema.json
  src/components/OppgaveView/DocumentTabLabel.tsx
  src/components/OppgaveView/DocumentsViewer.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/oppgave.graphql
  src/graphql/queries/save-oppgave.graphql
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Update document name test
  src/components/OppgaveView/DocumentTabLabel.tsx
  src/components/OppgaveView/DocumentsViewer.tsx
  src/graphql/apollo.ts
  src/mocks/data/mockDb.ts
  src/mocks/handlers.ts
  src/pages/oppgave/[oppgaveId].test.tsx
Due: yarn eslint --fix --max-warnings=0

remove test
  src/mocks/handlers.ts
  src/pages/oppgave/[oppgaveId].test.tsx
Due: yarn eslint --fix --max-warnings=0

Legger til støtte for å oppdatere dokumentnavn (#77)
  schema.json
  src/components/OppgaveView/DocumentTabLabel.tsx
  src/components/OppgaveView/DocumentsViewer.tsx
  src/graphql/apollo.ts
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/oppgave.graphql
  src/graphql/queries/save-oppgave.graphql
  src/mocks/data/mockDb.ts
  src/mocks/handlers.ts
  src/pages/oppgave/[oppgaveId].test.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

simplify nextjs build (configmap not needed)
  nais/nais-demo.yaml
  nais/nais-dev.yaml
  nais/nais-prod.yaml
Due: none

Removed Sykmeldingen inneholder andre relevante opplysninger
  src/components/Sykmelding/AndreOpplysninger.tsx
Due: yarn eslint --fix --max-warnings=0

Removed Sykmeldingen inneholder andre relevante opplysninger (#79)
  src/components/Sykmelding/AndreOpplysninger.tsx
Due: yarn eslint --fix --max-warnings=0

add new avvisningsgrunn to schema
  schema.json
  src/graphql/queries/graphql.generated.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

add new avvisningsgrunn to schema (#80)
  schema.json
  src/graphql/queries/graphql.generated.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

add new avvisningsgrunn
  src/components/Sykmelding/AvvisSection/AvvisSection.tsx
Due: yarn eslint --fix --max-warnings=0

add new avvisningsgrunn (#81)
  src/components/Sykmelding/AvvisSection/AvvisSection.tsx
Due: yarn eslint --fix --max-warnings=0

remove har andre relevante opplysninger query
  src/components/Sykmelding/ActionSection/mutations/useHandleSave.ts
  src/components/Sykmelding/AndreOpplysninger.tsx
  src/components/Sykmelding/SykmeldingForm.test.tsx
  src/components/Sykmelding/formDataUtils.ts
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/oppgave.graphql
  src/mocks/data/dataCreators.ts
  src/mocks/data/mockDb.ts
  src/mocks/handlers.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

remove har andre relevante opplysninger query (#82)
  src/components/Sykmelding/ActionSection/mutations/useHandleSave.ts
  src/components/Sykmelding/AndreOpplysninger.tsx
  src/components/Sykmelding/SykmeldingForm.test.tsx
  src/components/Sykmelding/formDataUtils.ts
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/oppgave.graphql
  src/mocks/data/dataCreators.ts
  src/mocks/data/mockDb.ts
  src/mocks/handlers.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

remove har andre relevante opplysninger
  schema.json
  src/components/Sykmelding/SykmeldingForm.tsx
  src/graphql/queries/graphql.generated.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

remove har andre relevante opplysninger (#83)
  schema.json
  src/components/Sykmelding/SykmeldingForm.tsx
  src/graphql/queries/graphql.generated.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

bump dependencies
  .lintstagedrc
  jest.setup.js
  package.json
  yarn.lock
Due: yarn prettier --write

fix full screen tabs not working
  src/components/OppgaveView/OppgaveView.tsx
Due: yarn eslint --fix --max-warnings=0

add simple skeleton when loading form
  src/components/SykmeldingSection/SykmeldingSection.tsx
  src/components/skeleton/Skeletons.tsx
  src/pages/oppgave/[oppgaveId].page.tsx
  src/utils/tw-utils.ts
Due: yarn eslint --fix --max-warnings=0

better loading, don't unmount pdfs
  src/components/OppgaveView/DocumentsViewer.module.css
  src/components/OppgaveView/DocumentsViewer.tsx
  src/components/OppgaveView/OppgaveView.tsx
  src/components/skeleton/Skeletons.tsx
  src/mocks/handlers.ts
  src/pages/oppgave/[oppgaveId].page.tsx
  src/pages/oppgave/[oppgaveId].test.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Boost requests memory to 256
  nais/nais-demo.yaml
Due: none

Boost requests memory to 256 (#89)
  nais/nais-demo.yaml
Due: none

nicer error handling
  package.json
  src/components/OppgaveView/DocumentViewerStates.tsx
  src/components/OppgaveView/DocumentsViewer.tsx
  src/components/OppgaveView/OppgaveView.tsx
  src/mocks/data/mockDb.ts
  src/mocks/handlers.ts
  src/pages/_document.page.tsx
  src/pages/index.page.tsx
  src/pages/oppgave/[oppgaveId].page.tsx
  src/pages/oppgave/[oppgaveId].test.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Added in folkeRegistertAdresseErBrakkeEllerTilsvarende
  package.json
  schema.json
  src/components/Sykmelding/ActionSection/mutations/useHandleSave.ts
  src/components/Sykmelding/AndreOpplysninger.tsx
  src/components/Sykmelding/SykmeldingForm.test.tsx
  src/components/Sykmelding/SykmeldingForm.tsx
  src/components/Sykmelding/formDataUtils.ts
  src/graphql/queries/graphql.generated.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix demo (?)
  .env.development
  nais/envs/.env.demo
  nais/envs/.env.dev
  nais/envs/.env.prod
  next.config.js
  src/components/OppgaveView/OppgaveView.tsx
  src/mocks/index.ts
  src/pages/oppgave/[oppgaveId].page.tsx
Due: yarn eslint --fix --max-warnings=0

Update url
  package.json
Due: yarn prettier --write

Added in folkeRegistertAdresseErBrakkeEllerTilsvarende (#90)
  package.json
  schema.json
  src/components/Sykmelding/ActionSection/mutations/useHandleSave.ts
  src/components/Sykmelding/AndreOpplysninger.tsx
  src/components/Sykmelding/SykmeldingForm.test.tsx
  src/components/Sykmelding/SykmeldingForm.tsx
  src/components/Sykmelding/formDataUtils.ts
  src/graphql/queries/graphql.generated.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

reduce layout shift
  next.config.js
  package.json
  src/components/FormComponents/Pasientopplysninger/Adresser/Oppholdsadresse.test.tsx
  src/components/FormComponents/Pasientopplysninger/Adresser/Utenlandskadresse.tsx
  src/components/skeleton/Skeletons.tsx
  src/mocks/data/index.ts
  src/pages/oppgave/[oppgaveId].page.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

add broken oppgave to examples in demo
  src/pages/index.page.tsx
Due: yarn eslint --fix --max-warnings=0

Update nais-prod.yaml
  nais/nais-prod.yaml
Due: none
