Repository navikt/syk-dig: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
    "*.{md,html,css,json,graphql,graphqls,md,mdx,js,yml,yaml}": "yarn prettier --write",
    "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

Fixed FerdigstiltOppgaveByIdQuery
  schema.json
  src/components/nasjonal-oppgave/NasjonalOppgaveFerdigstiltView.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/nasjonal-oppgave.graphql
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Changed default values
  src/components/nasjonal-oppgave/form/NasjonalSykmeldingFormTypes.ts
  src/components/nasjonal-oppgave/form/nasjonalSykmeldingDefaultValues.ts
Due: yarn eslint --fix --max-warnings=0

Skipped tests temporarily
  src/components/nasjonal-oppgave/NasjonalOppgaveFerdigstiltView.tsx
  src/components/nasjonal-oppgave/NasjonalOppgaveStates.tsx
  src/components/nasjonal-oppgave/__tests__/apiError.test.tsx
  src/components/nasjonal-oppgave/__tests__/avvisOppgave.test.tsx
  src/components/nasjonal-oppgave/__tests__/loadPasient.test.tsx
  src/components/nasjonal-oppgave/__tests__/mulighetForArbeid.test.tsx
  src/components/nasjonal-oppgave/__tests__/smregTestUtils.tsx
  src/components/nasjonal-oppgave/__tests__/submitOppgave.test.tsx
  src/mocks/data/mockDb.ts
  src/mocks/handlers.ts
Due: yarn eslint --fix --max-warnings=0

Removed unused import
  src/mocks/data/mockDb.ts
Due: yarn eslint --fix --max-warnings=0

Made empty string default date
  src/components/nasjonal-oppgave/form/nasjonalSykmeldingDefaultValues.ts
Due: yarn eslint --fix --max-warnings=0

Removed unused import
  src/components/nasjonal-oppgave/__tests__/smregTestUtils.tsx
Due: yarn eslint --fix --max-warnings=0

Added some console logs
  src/components/nasjonal-oppgave/NasjonalOppgaveFerdigstiltView.tsx
  src/components/nasjonal-oppgave/NasjonalOppgaveView.tsx
Due: yarn eslint --fix --max-warnings=0

Updated som tests
  src/app/nasjonal/ferdigstilt/[sykmeldingId]/page.tsx
  src/components/nasjonal-oppgave/NasjonalOppgaveFerdigstiltView.tsx
  src/components/nasjonal-oppgave/NasjonalOppgaveStates.tsx
  src/components/nasjonal-oppgave/__tests__/apiError.test.tsx
  src/components/nasjonal-oppgave/__tests__/avvisOppgave.test.tsx
  src/components/nasjonal-oppgave/__tests__/loadPasient.test.tsx
  src/components/nasjonal-oppgave/__tests__/mulighetForArbeid.test.tsx
  src/components/nasjonal-oppgave/__tests__/oppgaveMapping.test.tsx
  src/components/nasjonal-oppgave/__tests__/smregTestUtils.tsx
  src/components/nasjonal-oppgave/__tests__/submitOppgave.test.tsx
Due: yarn eslint --fix --max-warnings=0

fix: display nasjonal oppgave locally
  src/components/nasjonal-oppgave/NasjonalOppgaveFerdigstiltView.tsx
  src/components/nasjonal-oppgave/NasjonalOppgaveStates.tsx
  src/components/nasjonal-oppgave/NasjonalOppgaveView.tsx
  src/components/nasjonal-oppgave/__tests__/apiError.test.tsx
  src/components/nasjonal-oppgave/__tests__/avvisOppgave.test.tsx
  src/components/nasjonal-oppgave/__tests__/loadPasient.test.tsx
  src/components/nasjonal-oppgave/__tests__/mulighetForArbeid.test.tsx
  src/components/nasjonal-oppgave/__tests__/oppgaveMapping.test.tsx
  src/components/nasjonal-oppgave/__tests__/smregTestUtils.tsx
  src/components/nasjonal-oppgave/__tests__/submitOppgave.test.tsx
  src/components/nasjonal-oppgave/__tests__/testData/emptyOppgave.json
  src/components/nasjonal-oppgave/__tests__/testData/fullOppgave.json
  src/components/nasjonal-oppgave/__tests__/testData/fullOppgaveWithoutPeriods.json
  src/components/nasjonal-oppgave/__tests__/testData/nullFnrOppgave.json
  src/components/nasjonal-oppgave/form/NasjonalSykmeldingFormTypes.ts
  src/components/nasjonal-oppgave/form/nasjonalSykmeldingDefaultValues.ts
  src/components/nasjonal-oppgave/mock/oppgave.json
  src/components/nasjonal-oppgave/schema/sykmelding/Diagnosekoder.ts
  src/components/nasjonal-oppgave/smreg/smreg-mapping.test.ts
  src/components/nasjonal-oppgave/smreg/smreg-mapping.ts
  src/components/nasjonal-oppgave/status/NasjonalOppgaveStatus.tsx
  src/components/registrer-sykmelding/RegistrerSykmeldingView.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/nasjonal-oppgave.graphql
  src/mocks/data/mockDb.ts
  src/mocks/handlers.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Changed test to use nationalOppgaveByIdDocument
  src/components/nasjonal-oppgave/NasjonalOppgaveFerdigstiltView.tsx
  src/components/nasjonal-oppgave/NasjonalOppgaveStates.tsx
  src/components/nasjonal-oppgave/__tests__/smregTestUtils.tsx
Due: yarn eslint --fix --max-warnings=0

Removed unused variable
  src/components/nasjonal-oppgave/__tests__/smregTestUtils.tsx
Due: yarn eslint --fix --max-warnings=0

chore: added query to get nasjonal oppgave
  src/graphql/queries/nasjonal-oppgave.graphql
Due: yarn prettier --write

Fixed most tests
  src/components/nasjonal-oppgave/__tests__/smregTestUtils.tsx
  src/components/nasjonal-oppgave/__tests__/testData/emptyOppgave.json
  src/components/nasjonal-oppgave/form/NasjonalSykmeldingFormTypes.ts
  src/components/nasjonal-oppgave/schema/sykmelding/Diagnosekoder.ts
  src/components/nasjonal-oppgave/smreg/smreg-mapping.test.ts
  src/components/nasjonal-oppgave/smreg/smreg-mapping.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Some changes
  src/components/nasjonal-oppgave/__tests__/apiError.test.tsx
  src/components/nasjonal-oppgave/__tests__/mulighetForArbeid.test.tsx
  src/components/nasjonal-oppgave/__tests__/smregTestUtils.tsx
Due: yarn eslint --fix --max-warnings=0

Fixed NationalOppgaveDocuments
  src/components/nasjonal-oppgave/NasjonalOppgaveFerdigstiltView.tsx
  src/components/nasjonal-oppgave/NasjonalOppgaveStates.tsx
  src/components/nasjonal-oppgave/NasjonalOppgaveView.tsx
Due: yarn eslint --fix --max-warnings=0

fix: ferdigstilt oppgave
  schema.json
  src/components/nasjonal-oppgave/NasjonalOppgaveFerdigstiltView.tsx
  src/components/nasjonal-oppgave/NasjonalOppgaveStates.tsx
  src/components/nasjonal-oppgave/__tests__/testData/mockDb.ts
  src/components/nasjonal-oppgave/status/NasjonalFerdigstiltOppgaveStatus.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/nasjonal-oppgave.graphql
  src/graphql/queries/possible-types.generated.ts
  src/mocks/handlers.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix: tests, mock and send oppgave mapping
  e2e/nasjonal/avvis-oppgave.spec.ts
  e2e/nasjonal/load-person.spec.ts
  e2e/nasjonal/mulighet-for-arbeid.spec.ts
  e2e/nasjonal/submit-oppgave.spec.ts
  e2e/nasjonal/user-actions.ts
  src/components/nasjonal-oppgave/NasjonalOppgaveStates.tsx
  src/components/nasjonal-oppgave/__tests__/apiError.test.tsx
  src/components/nasjonal-oppgave/__tests__/avvisOppgave.test.tsx
  src/components/nasjonal-oppgave/__tests__/loadPasient.test.tsx
  src/components/nasjonal-oppgave/__tests__/mulighetForArbeid.test.tsx
  src/components/nasjonal-oppgave/__tests__/oppgaveMapping.test.tsx
  src/components/nasjonal-oppgave/__tests__/smregTestUtils.tsx
  src/components/nasjonal-oppgave/__tests__/submitOppgave.test.tsx
  src/components/nasjonal-oppgave/__tests__/testData/dataCreators.ts
  src/components/nasjonal-oppgave/__tests__/testData/emptyOppgave.json
  src/components/nasjonal-oppgave/__tests__/testData/fullOppgave.json
  src/components/nasjonal-oppgave/__tests__/testData/fullOppgaveWithoutPeriods.json
  src/components/nasjonal-oppgave/__tests__/testData/index.ts
  src/components/nasjonal-oppgave/__tests__/testData/mockDb.ts
  src/components/nasjonal-oppgave/__tests__/testData/nullFnrOppgave.json
  src/components/nasjonal-oppgave/form/NasjonalSykmeldingFormTypes.ts
  src/components/nasjonal-oppgave/form/nasjonalSykmeldingDefaultValues.ts
  src/components/nasjonal-oppgave/form/sections/PasientOpplysningerFormSection.tsx
  src/components/nasjonal-oppgave/mock/mock-handler.ts
  src/components/nasjonal-oppgave/mock/sykmelder.json
  src/components/nasjonal-oppgave/schema/oppgave/Oppgave.ts
  src/components/nasjonal-oppgave/smreg/rest-apollo-link.ts
  src/components/nasjonal-oppgave/smreg/smreg-mapping.test.ts
  src/components/nasjonal-oppgave/smreg/smreg-mapping.ts
  src/graphql/apollo.ts
  src/mocks/data/mockDb.ts
  src/mocks/handlers.ts
  src/utils/testUtils.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: skip api error tests
  src/components/nasjonal-oppgave/__tests__/apiError.test.tsx
  src/components/nasjonal-oppgave/__tests__/oppgaveMapping.test.tsx
Due: yarn eslint --fix --max-warnings=0

fix: get ferdigstillt oppgave
  src/components/nasjonal-oppgave/NasjonalOppgaveFerdigstiltView.tsx
  src/components/nasjonal-oppgave/NasjonalOppgaveStates.tsx
  src/components/nasjonal-oppgave/__tests__/testData/dataCreators.ts
  src/components/nasjonal-oppgave/__tests__/testData/mockDb.ts
  src/components/nasjonal-oppgave/mock/mock-handler.ts
  src/components/nasjonal-oppgave/mock/oppgave.json
  src/components/nasjonal-oppgave/useNasjonalOppgave.ts
  src/mocks/handlers.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix: query result in oppgave state
  e2e/nasjonal/user-actions.ts
  src/components/nasjonal-oppgave/NasjonalOppgaveStates.tsx
  src/components/nasjonal-oppgave/NasjonalOppgaveView.tsx
  src/graphql/apollo.ts
Due: yarn eslint --fix --max-warnings=0

chore: remove duplicate of diagnosekoder
  src/components/nasjonal-oppgave/schema/sykmelding/Diagnosekoder.ts
  src/components/nasjonal-oppgave/smreg/smreg-mapping.ts
Due: yarn eslint --fix --max-warnings=0

fix: tests, mock and send oppgave mapping
  e2e/nasjonal/avvis-oppgave.spec.ts
  e2e/nasjonal/load-person.spec.ts
  e2e/nasjonal/mulighet-for-arbeid.spec.ts
  e2e/nasjonal/submit-oppgave.spec.ts
  e2e/nasjonal/user-actions.ts
  src/components/nasjonal-oppgave/NasjonalOppgaveFerdigstiltView.tsx
  src/components/nasjonal-oppgave/NasjonalOppgaveStates.tsx
  src/components/nasjonal-oppgave/__tests__/apiError.test.tsx
  src/components/nasjonal-oppgave/__tests__/avvisOppgave.test.tsx
  src/components/nasjonal-oppgave/__tests__/loadPasient.test.tsx
  src/components/nasjonal-oppgave/__tests__/mulighetForArbeid.test.tsx
  src/components/nasjonal-oppgave/__tests__/oppgaveMapping.test.tsx
  src/components/nasjonal-oppgave/__tests__/smregTestUtils.tsx
  src/components/nasjonal-oppgave/__tests__/submitOppgave.test.tsx
  src/components/nasjonal-oppgave/__tests__/testData/dataCreators.ts
  src/components/nasjonal-oppgave/__tests__/testData/emptyOppgave.json
  src/components/nasjonal-oppgave/__tests__/testData/fullOppgave.json
  src/components/nasjonal-oppgave/__tests__/testData/fullOppgaveWithoutPeriods.json
  src/components/nasjonal-oppgave/__tests__/testData/index.ts
  src/components/nasjonal-oppgave/__tests__/testData/mockDb.ts
  src/components/nasjonal-oppgave/__tests__/testData/nullFnrOppgave.json
  src/components/nasjonal-oppgave/form/NasjonalSykmeldingFormTypes.ts
  src/components/nasjonal-oppgave/form/nasjonalSykmeldingDefaultValues.ts
  src/components/nasjonal-oppgave/form/sections/PasientOpplysningerFormSection.tsx
  src/components/nasjonal-oppgave/mock/mock-handler.ts
  src/components/nasjonal-oppgave/mock/sykmelder.json
  src/components/nasjonal-oppgave/schema/oppgave/Oppgave.ts
  src/components/nasjonal-oppgave/smreg/rest-apollo-link.ts
  src/components/nasjonal-oppgave/smreg/smreg-mapping.test.ts
  src/components/nasjonal-oppgave/smreg/smreg-mapping.ts
  src/graphql/apollo.ts
  src/mocks/data/mockDb.ts
  src/mocks/handlers.ts
  src/utils/testUtils.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: skip api error tests
  src/components/nasjonal-oppgave/__tests__/apiError.test.tsx
  src/components/nasjonal-oppgave/__tests__/oppgaveMapping.test.tsx
  src/components/nasjonal-oppgave/__tests__/smregTestUtils.tsx
Due: yarn eslint --fix --max-warnings=0

fix: redirect to modia after edit sykmelding
  src/components/nasjonal-oppgave/form/useNasjonalSykmeldingSubmitHandler.ts
Due: yarn eslint --fix --max-warnings=0

chore: remove allowed api get oppgave and ferdigstilt
  src/app/api/smreg/[[...path]]/config.ts
Due: yarn eslint --fix --max-warnings=0

automated: update distroless with newest digest
  Dockerfile
Due: none

chore: add nasjonal lagre mutation
  e2e/nasjonal/mulighet-for-arbeid.spec.ts
  e2e/nasjonal/submit-oppgave.spec.ts
  schema.json
  src/app/api/smreg/[[...path]]/config.ts
  src/components/nasjonal-oppgave/NasjonalOppgaveFerdigstiltView.tsx
  src/components/nasjonal-oppgave/NasjonalOppgaveView.tsx
  src/components/nasjonal-oppgave/form/ActionSection.tsx
  src/components/nasjonal-oppgave/form/NasjonalSykmeldingForm.tsx
  src/components/nasjonal-oppgave/form/NasjonalSykmeldingFormTypes.ts
  src/components/nasjonal-oppgave/form/nasjonalSykmeldingDefaultValues.ts
  src/components/nasjonal-oppgave/form/useNasjonalSykmeldingSubmitHandler.ts
  src/components/nasjonal-oppgave/mock/mock-handler.ts
  src/components/nasjonal-oppgave/schema/RuleHitErrors.ts
  src/components/nasjonal-oppgave/schema/sykmelding/Behandler.ts
  src/components/nasjonal-oppgave/schema/sykmelding/KontaktMedPasient.ts
  src/components/nasjonal-oppgave/schema/sykmelding/MeldingTilNav.ts
  src/components/nasjonal-oppgave/schema/sykmelding/Papirsykmelding.ts
  src/components/nasjonal-oppgave/schema/sykmelding/RegistrertSykmelding.ts
  src/components/nasjonal-oppgave/smreg/nasjonal-sykmelding-mapping.test.ts
  src/components/nasjonal-oppgave/smreg/nasjonal-sykmelding-mapping.ts
  src/components/nasjonal-oppgave/smreg/rest-apollo-link.ts
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/possible-types.generated.ts
  src/graphql/queries/save-oppgave-nasjonal.graphql
  src/graphql/queries/validation-result.graphql
  src/mocks/handlers.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore(deps): fix next vuln
  package.json
  yarn.lock
Due: yarn prettier --write

fix: include harUtdypendeOpplysninger in sykmelding
  schema.json
  src/components/nasjonal-oppgave/__tests__/testData/dataCreators.ts
  src/components/nasjonal-oppgave/form/nasjonalSykmeldingDefaultValues.ts
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/nasjonal-oppgave.graphql
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix: include harUtdypendeOpplysninger in sykmelding (#360)
  schema.json
  src/components/nasjonal-oppgave/__tests__/testData/dataCreators.ts
  src/components/nasjonal-oppgave/form/nasjonalSykmeldingDefaultValues.ts
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/nasjonal-oppgave.graphql
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: add nasjonal lagre mutation (#361)
  e2e/nasjonal/mulighet-for-arbeid.spec.ts
  e2e/nasjonal/submit-oppgave.spec.ts
  schema.json
  src/app/api/smreg/[[...path]]/config.ts
  src/components/nasjonal-oppgave/NasjonalOppgaveFerdigstiltView.tsx
  src/components/nasjonal-oppgave/NasjonalOppgaveView.tsx
  src/components/nasjonal-oppgave/form/ActionSection.tsx
  src/components/nasjonal-oppgave/form/NasjonalSykmeldingForm.tsx
  src/components/nasjonal-oppgave/form/NasjonalSykmeldingFormTypes.ts
  src/components/nasjonal-oppgave/form/nasjonalSykmeldingDefaultValues.ts
  src/components/nasjonal-oppgave/form/useNasjonalSykmeldingSubmitHandler.ts
  src/components/nasjonal-oppgave/mock/mock-handler.ts
  src/components/nasjonal-oppgave/schema/RuleHitErrors.ts
  src/components/nasjonal-oppgave/schema/sykmelding/Behandler.ts
  src/components/nasjonal-oppgave/schema/sykmelding/KontaktMedPasient.ts
  src/components/nasjonal-oppgave/schema/sykmelding/MeldingTilNav.ts
  src/components/nasjonal-oppgave/schema/sykmelding/Papirsykmelding.ts
  src/components/nasjonal-oppgave/schema/sykmelding/RegistrertSykmelding.ts
  src/components/nasjonal-oppgave/smreg/nasjonal-sykmelding-mapping.test.ts
  src/components/nasjonal-oppgave/smreg/nasjonal-sykmelding-mapping.ts
  src/components/nasjonal-oppgave/smreg/rest-apollo-link.ts
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/possible-types.generated.ts
  src/graphql/queries/save-oppgave-nasjonal.graphql
  src/graphql/queries/validation-result.graphql
  src/mocks/handlers.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0
