Repository navikt/syk-dig: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
  "*.{md,html,css,json,graphql,graphqls,md,mdx,js}": "yarn prettier --write",
  "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

chore: fork documentviewer tests into own tests
  src/components/split-view-layout/SplitDocumentView.module.css
  src/components/split-view-layout/SplitDocumentView.tsx
  src/components/split-view-layout/document/DocumentView.test.tsx
  src/components/utenlandsk-oppgave/UtenlandskOppgaveView.test.tsx
  src/components/utenlandsk-oppgave/UtenlandskOppgaveView.tsx
  vitest.setup.mts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: tweak tests so they aren't rendered through Panel-components
  package.json
  src/components/nasjonal-oppgave/__tests__/apiError.test.tsx
  src/components/nasjonal-oppgave/__tests__/avvisOppgave.test.tsx
  src/components/nasjonal-oppgave/__tests__/loadPasient.test.tsx
  src/components/nasjonal-oppgave/__tests__/mulighetForArbeid.test.tsx
  src/components/nasjonal-oppgave/__tests__/oppgaveMapping.test.tsx
  src/components/nasjonal-oppgave/__tests__/revertToGosysOppgave.test.tsx
  src/components/nasjonal-oppgave/__tests__/smregTestUtils.ts
  src/components/nasjonal-oppgave/__tests__/smregTestUtils.tsx
  src/components/nasjonal-oppgave/__tests__/submitOppgave.test.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: resizeable panels
  package.json
  src/app/_preload.tsx
  src/app/nasjonal/[oppgaveId]/page.tsx
  src/app/nasjonal/ferdigstilt/[sykmeldingId]/page.tsx
  src/app/oppgave/[oppgaveId]/page.tsx
  src/app/registrer-sykmelding/page.tsx
  src/components/nasjonal-oppgave/NasjonalOppgaveFerdigstiltView.tsx
  src/components/nasjonal-oppgave/NasjonalOppgaveView.tsx
  src/components/nasjonal-oppgave/__tests__/apiError.test.tsx
  src/components/nasjonal-oppgave/__tests__/avvisOppgave.test.tsx
  src/components/nasjonal-oppgave/__tests__/loadPasient.test.tsx
  src/components/nasjonal-oppgave/__tests__/mulighetForArbeid.test.tsx
  src/components/nasjonal-oppgave/__tests__/newAppHint.test.tsx
  src/components/nasjonal-oppgave/__tests__/oppgaveMapping.test.tsx
  src/components/nasjonal-oppgave/__tests__/revertToGosysOppgave.test.tsx
  src/components/nasjonal-oppgave/__tests__/submitOppgave.test.tsx
  src/components/nasjonal-oppgave/form/NasjonalSykmeldingForm.tsx
  src/components/registrer-sykmelding/RegistrerSykmeldingView.tsx
  src/components/split-view-layout/SplitDocumentView.module.css
  src/components/split-view-layout/SplitDocumentView.tsx
  src/components/split-view-layout/persistent-layout.ts
  src/components/split-view-layout/split-tabs/Tabs.tsx
  src/components/split-view-layout/useSplitDocumentState.tsx
  src/components/utenlandsk-oppgave/UtenlandskOppgaveView.test.tsx
  src/components/utenlandsk-oppgave/UtenlandskOppgaveView.tsx
  src/style/global.css
  src/utils/analytics.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: un-apollo modia, use normal context instead
  .graphqlconfig
  graphql.config.yml
  src/app/_providers.tsx
  src/app/layout.tsx
  src/components/PageHeader/PageHeader.module.css
  src/components/PageHeader/PageHeader.test.tsx
  src/components/PageHeader/PageHeader.tsx
  src/components/Sykmelding/ActionSection/mutations/useHandleSave.ts
  src/components/Sykmelding/AvvisSection/AvvisSection.tsx
  src/components/nasjonal-oppgave/form/useNasjonalSykmeldingSubmitHandler.ts
  src/components/nasjonal-oppgave/form/useOtherSykmeldingActions.ts
  src/graphql/apollo.ts
  src/graphql/localState/modia.ts
  src/graphql/localState/modiaLocalSchema.graphqls
  src/graphql/localState/modiaQueries.graphql
  src/graphql/queries/graphql.generated.ts
  src/mocks/data/dataCreators.ts
  src/modia/ModiaService.ts
  src/modia/modia-context.tsx
  src/utils/testUtils.tsx
  src/utils/tsUtils.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: remove old un-toggled old DiagnosePicker and corresponding toggle
  package.json
  src/components/FormComponents/CustomFormComponents/Combobox.module.css
  src/components/FormComponents/CustomFormComponents/Combobox.tsx
  src/components/FormComponents/DiagnosePicker/DiagnoseCombobox/DiagnoseCombobox.test.tsx
  src/components/FormComponents/DiagnosePicker/DiagnoseCombobox/DiagnoseCombobox.tsx
  src/components/FormComponents/DiagnosePicker/DiagnosePicker.module.css
  src/components/FormComponents/DiagnosePicker/DiagnosePicker.tsx
  src/components/Sykmelding/SykmeldingForm.test.tsx
  src/components/nasjonal-oppgave/__tests__/oppgaveMapping.test.tsx
  src/components/nasjonal-oppgave/form/sections/diagnose/DiagnoseFieldGroup.tsx
  src/toggles/toggles.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: bump
  .yarn/releases/yarn-4.4.0.cjs
  .yarn/releases/yarn-4.4.1.cjs
  .yarnrc.yml
  package.json
  public/mockServiceWorker.js
  yarn.lock
Due: yarn prettier --write

chore: set split pane cookie to SameSite=Strict
  src/components/split-view-layout/useSplitDocumentState.tsx
Due: yarn eslint --fix --max-warnings=0

chore: don't whine about missing cookie
  src/components/split-view-layout/persistent-layout.ts
Due: yarn eslint --fix --max-warnings=0

chore: don't link to old smreg
  src/components/nasjonal-oppgave/form/NasjonalSykmeldingForm.tsx
Due: yarn eslint --fix --max-warnings=0

chore(deps): bump some dev deps [skip ci]
  package.json
  yarn.lock
Due: yarn prettier --write

chore: delete irrelevant tests
  src/components/nasjonal-oppgave/__tests__/newAppHint.test.tsx
Due: yarn eslint --fix --max-warnings=0

fix: selected nav enhet bug
  src/components/nasjonal-oppgave/form/useNasjonalSykmeldingSubmitHandler.ts
  src/components/nasjonal-oppgave/form/useOtherSykmeldingActions.ts
Due: yarn eslint --fix --max-warnings=0

feat: implement flexjar (in the header)
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  src/app/layout.tsx
  src/components/PageHeader/PageHeader.module.css
  src/components/PageHeader/PageHeader.tsx
  src/components/PageHeader/extras/Extras.tsx
  src/components/PageHeader/extras/Flexjar.tsx
  src/components/PageHeader/extras/flexjar-actions.ts
  src/components/PageHeader/extras/flexjar-service.ts
  src/components/split-view-layout/persistent-layout.ts
  src/middleware.ts
  src/toggles/cookie.ts
  src/toggles/rsc.ts
  src/toggles/toggles.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: debug unleash user id
  src/toggles/rsc.ts
Due: yarn eslint --fix --max-warnings=0

chore: fix flexjar url
  src/components/PageHeader/extras/flexjar-service.ts
Due: yarn eslint --fix --max-warnings=0

chore: fix flexjar url (real this time)
  src/components/PageHeader/extras/flexjar-service.ts
Due: yarn eslint --fix --max-warnings=0

feat: add small 'changelog' in header
  src/components/PageHeader/extras/Extras.tsx
  src/components/PageHeader/extras/changelog/Changelog.tsx
  src/components/PageHeader/extras/changelog/ChangelogContent.tsx
  src/components/PageHeader/extras/changelog/split-view.webp
  src/utils/analytics.ts
Due: yarn eslint --fix --max-warnings=0

chore: flexjar update is PUT not POST
  src/components/PageHeader/extras/flexjar-service.ts
Due: yarn eslint --fix --max-warnings=0

chore: fix changelog animation
  src/components/PageHeader/extras/changelog/ChangelogContent.tsx
Due: yarn eslint --fix --max-warnings=0

chore: flexwhoops
  src/components/PageHeader/extras/flexjar-service.ts
Due: yarn eslint --fix --max-warnings=0

chore: don't try and deserialize empty flexjar body
  src/components/PageHeader/extras/Flexjar.tsx
  src/components/PageHeader/extras/flexjar-service.ts
Due: yarn eslint --fix --max-warnings=0

feat: add small dot to highlight new changes in changelog
  src/components/PageHeader/extras/Extras.tsx
  src/components/PageHeader/extras/Flexjar.tsx
  src/components/PageHeader/extras/FlexjarToggler.tsx
  src/components/PageHeader/extras/changelog/Changelog.tsx
Due: yarn eslint --fix --max-warnings=0

chore: remove old unused api endpoints
  src/app/api/country/route.ts
  src/app/api/diagnose/[system]/_types.ts
  src/app/api/diagnose/[system]/route.ts
  src/components/FormComponents/DiagnosePicker/DiagnosePicker.tsx
  src/components/FormComponents/DiagnosePicker/diagnose-combobox/DiagnoseCombobox.tsx
  src/components/FormComponents/DiagnosePicker/diagnose-combobox/actions.ts
  src/components/FormComponents/DiagnosePicker/diagnose-combobox/search-system.ts
  src/components/FormComponents/DiagnosePicker/diagnose-combobox/types.ts
  src/components/Sykmelding/ActionSection/mutations/useHandleSave.ts
  src/components/Sykmelding/DiagnoseFormSection.tsx
  src/components/Sykmelding/SykmeldingForm.test.tsx
  src/components/Sykmelding/formDataUtils.ts
  src/components/nasjonal-oppgave/form/NasjonalSykmeldingFormTypes.ts
  src/components/nasjonal-oppgave/form/nasjonalSykmeldingDefaultValues.ts
  src/components/nasjonal-oppgave/smreg/smreg-mapping.ts
  src/mocks/handlers-test.ts
  src/mocks/index.ts
Due: yarn eslint --fix --max-warnings=0

feat: link to nasjonal oppgave in registrer-sykmelding
  src/components/nasjonal-oppgave/form/useNasjonalSykmeldingSubmitHandler.ts
  src/components/registrer-sykmelding/RegistrerSykmeldingView.tsx
  src/mocks/handlers.ts
Due: yarn eslint --fix --max-warnings=0

chore: remove explicit mocking env
  .env.development
  .env.test
  nais/envs/.env.demo
  src/app/_providers.tsx
  src/pages/api/document/[...path].ts
  src/utils/env.ts
Due: yarn eslint --fix --max-warnings=0

chore: cache toggles for 15 seconds
  package.json
  src/toggles/rsc.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

feat: make modia issues more obvious
  src/components/nasjonal-oppgave/NasjonalOppgaveView.tsx
  src/components/utenlandsk-oppgave/UtenlandskOppgaveView.tsx
  src/modia/ModiaAlert.tsx
Due: yarn eslint --fix --max-warnings=0

chore: migrate all pages proxies to route handlers
  next-env.d.ts
  package.json
  src/app/api/document/[...path]/route.ts
  src/app/api/graphql/route.ts
  src/app/api/smreg/[[...path]]/config.ts
  src/app/api/smreg/[[...path]]/route.ts
  src/auth/pages.ts
  src/components/nasjonal-oppgave/mock/mock-handler.ts
  src/mocks/data/mockDb.ts
  src/pages/api/document/[...path].ts
  src/pages/api/graphql.ts
  src/pages/api/smreg/[[...path]].ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: tweak cpu/memory in prod
  nais/nais-dev.yaml
  nais/nais-prod.yaml
Due: none
