Repository navikt/syk-dig: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
    "*.{md,html,css,json,graphql,graphqls,md,mdx,js,yml,yaml}": "yarn prettier --write",
    "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

fix: use label instead of heading
  src/components/FormComponents/DiagnosePicker/DiagnosePicker.tsx
  src/components/nasjonal-oppgave/form/sections/PasientOpplysningerFormSection.tsx
Due: yarn eslint --fix --max-warnings=0

fix: connect tab to panel
  src/components/split-view-layout/SplitDocumentView.tsx
  src/components/split-view-layout/document/DocumentView.tsx
  src/components/split-view-layout/document/DocumentViewNoDocuments.tsx
  src/components/split-view-layout/split-tabs/Tabs.tsx
Due: yarn eslint --fix --max-warnings=0

fix: reflow
  src/components/FormComponents/DiagnosePicker/DiagnosePicker.module.css
  src/components/PageHeader/PageHeader.tsx
  src/components/PageHeader/extras/Extras.tsx
  src/components/nasjonal-oppgave/form/sections/behandler/BehandlerInfo.tsx
  src/components/nasjonal-oppgave/form/sections/mulighet-for-arbeid/FomTomPicker.module.css
  src/components/registrer-sykmelding/RegistrerSykmeldingView.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix: reflow
  src/components/ConfirmButton/ConfirmButton.tsx
  src/components/FormComponents/DiagnosePicker/DiagnosePicker.module.css
  src/components/FormComponents/Pasientopplysninger/PersonInfo.tsx
  src/components/FormComponents/Sykmeldingsperiode/PeriodePicker.module.css
  src/components/FormComponents/Sykmeldingsperiode/PeriodeSelect.module.css
  src/components/FormComponents/Sykmeldingsperiode/PeriodeSelect.tsx
  src/components/PageHeader/PageHeader.tsx
  src/components/PageHeader/extras/Extras.tsx
  src/components/PageHeader/extras/Flexjar.tsx
  src/components/Sykmelding/ActionSection/ActionSection.module.css
  src/components/Sykmelding/ActionSection/ActionSection.tsx
  src/components/Sykmelding/ActionSection/FeedbackModal.module.css
  src/components/Sykmelding/AvvisSection/AvvisSection.tsx
  src/components/Sykmelding/SykmeldingForm.tsx
  src/components/Sykmelding/Sykmeldingsperiode.module.css
  src/components/Sykmelding/Sykmeldingsperiode.tsx
  src/components/nasjonal-oppgave/form/AvvisButton.tsx
  src/components/nasjonal-oppgave/form/sections/behandler/BehandlerInfo.tsx
  src/components/nasjonal-oppgave/form/sections/mulighet-for-arbeid/FomTomPicker.module.css
  src/components/registrer-sykmelding/RegistrerSykmeldingView.tsx
  src/components/split-view-layout/document/DocumentView.tsx
  src/components/split-view-layout/document/document-tabs/DocumentTabs.module.css
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix: accessibility
  src/components/FormComponents/dates/SelectedDate.tsx
  src/components/PageHeader/PageHeader.tsx
  src/components/PageHeader/extras/Flexjar.tsx
  src/components/PageHeader/extras/changelog/Changelog.tsx
  src/components/form-layout/FormInfo.tsx
  src/components/nasjonal-oppgave/form/ActionSection.tsx
  src/components/nasjonal-oppgave/form/sections/behandler/BehandlerInfo.tsx
  src/components/registrer-sykmelding/RegistrerSykmeldingView.tsx
  src/components/split-view-layout/document/DocumentViewNoDocuments.tsx
Due: yarn eslint --fix --max-warnings=0

fix: add missing legend
  src/components/nasjonal-oppgave/form/sections/UtdypendeOpplysningerSection.tsx
  src/components/nasjonal-oppgave/form/sections/mulighet-for-arbeid/ForholdArbeidsplassenFieldGroup.tsx
  src/components/nasjonal-oppgave/form/sections/mulighet-for-arbeid/MedisinskArsakFieldGroup.tsx
  src/components/nasjonal-oppgave/form/sections/mulighet-for-arbeid/PeriodeFieldGroup.tsx
Due: yarn eslint --fix --max-warnings=0

fix: add metadata for page
  src/app/page.tsx
Due: yarn eslint --fix --max-warnings=0

fix: dont do HPR query with invalid HRP-number
  src/components/nasjonal-oppgave/form/sections/behandler/BehandlerFieldGroup.tsx
Due: yarn eslint --fix --max-warnings=0

automated: update distroless with newest digest
  Dockerfile
Due: none

chore: Update scaling and resource limits in nais-prod.yaml
  .nais/nais-prod.yaml
Due: yarn prettier --write

feat: show better error messages
  src/components/nasjonal-oppgave/form/sections/behandler/BehandlerFieldGroup.tsx
  src/components/nasjonal-oppgave/form/sections/behandler/BehandlerInfo.tsx
  src/mocks/handlers.ts
Due: yarn eslint --fix --max-warnings=0

chore: fix e2e tests/playwright
  e2e/nasjonal/submit-oppgave.spec.ts
Due: yarn eslint --fix --max-warnings=0

refactor: simplify HPR number checks
  src/components/nasjonal-oppgave/form/sections/behandler/BehandlerFieldGroup.tsx
  src/components/nasjonal-oppgave/form/sections/behandler/BehandlerInfo.tsx
  src/components/nasjonal-oppgave/form/sections/behandler/behandler-utils.test.ts
  src/components/nasjonal-oppgave/form/sections/behandler/behandler-utils.ts
Due: yarn eslint --fix --max-warnings=0

fix: trim hpr
  src/components/nasjonal-oppgave/form/sections/behandler/BehandlerFieldGroup.tsx
Due: yarn eslint --fix --max-warnings=0

chore(deps): bump all @navikt deps
  package.json
  yarn.lock
Due: yarn prettier --write

refactor: don't use server actions (it no good on nais)
  src/app/api/diagnose/route.ts
  src/app/api/diagnose/search-system.ts
  src/components/FormComponents/DiagnosePicker/diagnose-combobox/DiagnoseCombobox.test.tsx
  src/components/FormComponents/DiagnosePicker/diagnose-combobox/DiagnoseCombobox.tsx
  src/components/FormComponents/DiagnosePicker/diagnose-combobox/actions.ts
  src/mocks/index.ts
Due: yarn eslint --fix --max-warnings=0

chore: remove all header extras (wasn't used)
  src/app/layout.tsx
  src/components/PageHeader/extras/Extras.tsx
  src/components/PageHeader/extras/Flexjar.tsx
  src/components/PageHeader/extras/FlexjarToggler.tsx
  src/components/PageHeader/extras/changelog/Changelog.tsx
  src/components/PageHeader/extras/changelog/ChangelogContent.tsx
  src/components/PageHeader/extras/changelog/split-view.webp
  src/components/PageHeader/extras/flexjar-actions.ts
  src/components/PageHeader/extras/flexjar-service.ts
  src/toggles/rsc.ts
  src/toggles/toggles.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): bump codegen deps [skip ci]
  package.json
  yarn.lock
Due: yarn prettier --write

chore(deps): eslint v9 and other dev deps
  codegen.ts
  eslint.config.ts
  next-env.d.ts
  package.json
  src/app/_providers.tsx
  src/components/nasjonal-oppgave/form/sections/mulighet-for-arbeid/FomTomPicker.tsx
  src/graphql/queries/graphql.generated.ts
  src/instrumentation-client.ts
  src/instrumentation.ts
  src/utils/testUtils.tsx
  tsconfig.json
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore(deps): bump testing libs, few majors, fix tests
  package.json
  public/mockServiceWorker.js
  src/components/FormComponents/DiagnosePicker/diagnose-combobox/DiagnoseCombobox.test.tsx
  src/components/nasjonal-oppgave/__tests__/apiError.test.tsx
  src/components/nasjonal-oppgave/__tests__/loadPasient.test.tsx
  src/components/nasjonal-oppgave/__tests__/oppgaveMapping.test.tsx
  src/utils/test/mswTestUtils.ts
  vitest.config.mts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix: logging
  Dockerfile
  next-logger.config.js
  next-logger.config.mjs
Due: yarn prettier --write

chore: remove color scheme experiment
  src/app/_providers.tsx
Due: yarn eslint --fix --max-warnings=0

refactor: rely on optimistic auth, validate token on data access
  src/app/api/diagnose/route.ts
  src/app/api/graphql/route.ts
  src/app/layout.tsx
  src/auth/rsc.ts
  src/components/nasjonal-oppgave/__tests__/oppgaveMapping.test.tsx
  src/components/split-view-layout/persistent-layout.ts
  src/middleware.ts
  src/modia/ModiaService.ts
Due: yarn eslint --fix --max-warnings=0

chore(deps): zod v4 migration
  next.config.ts
  package.json
  scripts/pre-build.sh
  src/app/api/internal/is_alive/route.ts
  src/components/nasjonal-oppgave/form/sections/diagnose/AnnenLovfestetFravaersgrunnField.tsx
  src/components/nasjonal-oppgave/form/sections/mulighet-for-arbeid/ForholdArbeidsplassenFieldGroup.tsx
  src/components/nasjonal-oppgave/form/sections/mulighet-for-arbeid/MedisinskArsakFieldGroup.tsx
  src/components/nasjonal-oppgave/schema/Sykmelder.ts
  src/components/nasjonal-oppgave/schema/diagnosekoder/Diagnosekoder.ts
  src/components/nasjonal-oppgave/schema/sykmelding/Arbeidsgiver.ts
  src/components/nasjonal-oppgave/schema/sykmelding/MedisinskVurdering.ts
  src/components/nasjonal-oppgave/schema/sykmelding/Periode.ts
  src/instrumentation.ts
  src/modia/ModiaResponseSchema.ts
  src/modia/ModiaService.ts
  src/toggles/rsc.ts
  src/utils/env.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

refactor: fuck msw
  Dockerfile
  codegen.ts
  next.config.ts
  package.json
  public/mockServiceWorker.js
  src/app/api/graphql/route.ts
  src/components/FormComponents/DiagnosePicker/diagnose-combobox/DiagnoseCombobox.test.tsx
  src/components/nasjonal-oppgave/__tests__/apiError.test.tsx
  src/components/nasjonal-oppgave/__tests__/oppgaveMapping.test.tsx
  src/components/utenlandsk-oppgave/UtenlandskOppgaveView.test.tsx
  src/instrumentation-client.ts
  src/mocks/browser.ts
  src/mocks/data/dataCreators.ts
  src/mocks/data/mockDb.ts
  src/mocks/graphql-mock-resolvers.ts
  src/mocks/graphql-yoga.ts
  src/mocks/handlers-test.ts
  src/mocks/handlers.ts
  src/mocks/index.ts
  src/mocks/mock-resolvers.generated.ts
  src/mocks/server.ts
  src/utils/test/mswTestUtils.ts
  src/utils/test/restTestUtils.ts
  vitest.setup.mts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: cache playwright browsers by playwright version
  .github/workflows/deploy.yaml
Due: yarn prettier --write

chore: don't re-create yoga each request
  src/app/api/graphql-mock/route.ts
  src/app/api/graphql/route.ts
  src/graphql/apollo.ts
  src/mocks/graphql-yoga.ts
Due: yarn eslint --fix --max-warnings=0

refactor: make mock engine session scoped
  src/app/api/document/[...path]/route.ts
  src/components/nasjonal-oppgave/__tests__/apiError.test.tsx
  src/components/nasjonal-oppgave/__tests__/loadPasient.test.tsx
  src/components/nasjonal-oppgave/__tests__/oppgaveMapping.test.tsx
  src/components/nasjonal-oppgave/__tests__/testData/index.ts
  src/components/nasjonal-oppgave/__tests__/testUtils.tsx
  src/components/nasjonal-oppgave/nasjonal-sykmelding-mapping.test.ts
  src/middleware.ts
  src/mocks/MockEngine.ts
  src/mocks/MockSessionStore.ts
  src/mocks/data/index.ts
  src/mocks/graphql-mock-resolvers.ts
  src/mocks/index.ts
  src/mocks/nasjonal/nasjonal-data-creators.ts
  src/mocks/nasjonal/nasjonal-mock.ts
  src/mocks/session.ts
  src/mocks/utenlendsk/utenlandsk-data-creators.ts
  src/mocks/utenlendsk/utenlandsk-example-pdf.ts
  src/mocks/utenlendsk/utenlandsk-mock.ts
Due: yarn eslint --fix --max-warnings=0
