Repository navikt/syk-dig: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

.lintstagedrc:

{
  "*.{md,html,css,json,graphql,graphqls,md,mdx,js}": "yarn prettier --write",
  "*.{ts,tsx}": "yarn eslint --fix --max-warnings=0"
}

chore(deps): bump deps
  next-env.d.ts
  package.json
  src/components/nasjonal-oppgave/form/nasjonalSykmeldingDefaultValues.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix: empty diagnosekode field when system changes
  src/components/FormComponents/DiagnosePicker/diagnose-combobox/DiagnoseCombobox.tsx
  src/components/nasjonal-oppgave/__tests__/oppgaveMapping.test.tsx
Due: yarn eslint --fix --max-warnings=0

fix: empty diagnosekode field when system changes
  src/components/FormComponents/DiagnosePicker/DiagnosePicker.tsx
  src/components/FormComponents/DiagnosePicker/diagnose-combobox/DiagnoseCombobox.test.tsx
  src/components/FormComponents/DiagnosePicker/diagnose-combobox/DiagnoseCombobox.tsx
  src/components/FormComponents/combobox/AkselifiedCombobox.tsx
  src/components/nasjonal-oppgave/__tests__/submitOppgave.test.tsx
Due: yarn eslint --fix --max-warnings=0

chore: log and display parse errors for nasjonal sykmeldinger
  src/components/Errors/Errors.module.css
  src/components/Errors/Errors.tsx
  src/components/nasjonal-oppgave/form/NasjonalSykmeldingForm.tsx
  src/components/nasjonal-oppgave/form/useNasjonalSykmeldingSubmitHandler.ts
  src/components/nasjonal-oppgave/mock/.gitignore
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix: bug when changing to gradert periode on nasjonal
  package.json
  src/components/nasjonal-oppgave/form/NasjonalSykmeldingForm.tsx
  src/components/nasjonal-oppgave/form/sections/mulighet-for-arbeid/PeriodeFieldGroup.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: prebuild and run e2e with service container
  .github/workflows/deploy.yaml
  e2e/proxy.mjs
  package.json
  playwright.config.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: set up basic e2e with fast build etc
  .gitignore
  e2e/.eslintrc
  e2e/example.spec.ts
  e2e/nasjonal/.gitkeep
  e2e/proxy.mjs
  e2e/utenlandsk/.gitkeep
  package.json
  playwright.config.ts
  scripts/build-e2e.sh
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: implement nasjonal innsending e2e tests
  e2e/example.spec.ts
  e2e/utenlandsk/innsending.spec.ts
  e2e/utenlandsk/user-actions.ts
  e2e/utils/request.ts
  playwright.config.ts
  src/components/Sykmelding/SykmeldingForm.test.tsx
Due: yarn eslint --fix --max-warnings=0

chore: migrate utenlansk avvisning to e2e
  e2e/utenlandsk/avvisning.spec.ts
  src/components/Sykmelding/SykmeldingForm.test.tsx
Due: yarn eslint --fix --max-warnings=0

chore: migrate utenlansk validation tests to e2e
  e2e/utenlandsk/validering.spec.ts
  src/components/Sykmelding/SykmeldingForm.test.tsx
Due: yarn eslint --fix --max-warnings=0

chore: e2e revert to gosys test
  e2e/nasjonal/revert-to-gosys.spec.ts
  e2e/utils/request.ts
  src/components/nasjonal-oppgave/__tests__/revertToGosysOppgave.test.tsx
Due: yarn eslint --fix --max-warnings=0

chore: use nodejs20-debian12
  Dockerfile
Due: none

chore(deps): bump deps
  .yarn/releases/yarn-4.4.1.cjs
  .yarn/releases/yarn-4.5.0.cjs
  .yarnrc.yml
  codegen.ts
  package.json
  src/graphql/queries/graphql.generated.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: more graceful handling of 404 from smreg-backend
  src/components/nasjonal-oppgave/NasjonalOppgaveFerdigstiltView.tsx
  src/components/nasjonal-oppgave/NasjonalOppgaveStates.tsx
  src/components/nasjonal-oppgave/NasjonalOppgaveView.tsx
  src/components/nasjonal-oppgave/smreg/rest-apollo-link.ts
Due: yarn eslint --fix --max-warnings=0

Chore: Added four new avvisningsgrunner
  public/mockServiceWorker.js
  schema.json
  src/components/Sykmelding/AvvisSection/AvvisSection.tsx
  src/graphql/queries/graphql.generated.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Adding four more avvisningsgrunner
  next-env.d.ts
  schema.json
  src/components/Sykmelding/AvvisSection/AvvisSection.tsx
  src/graphql/queries/graphql.generated.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Added value for avvisningsgrunn
  src/components/Sykmelding/AvvisSection/AvvisSection.tsx
Due: yarn eslint --fix --max-warnings=0

Adding four more avvisningsgrunner (#332)
  next-env.d.ts
  schema.json
  src/components/Sykmelding/AvvisSection/AvvisSection.tsx
  src/graphql/queries/graphql.generated.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: remove smreg migration info
  next-env.d.ts
  src/components/nasjonal-oppgave/form/NasjonalSykmeldingForm.tsx
Due: yarn eslint --fix --max-warnings=0

chore: bump rollup (fixes vuln warning)
  yarn.lock
Due: none

chore: add proxy to smreg path
  src/app/api/smreg/[[...path]]/config.ts
  src/app/api/smreg/[[...path]]/route.ts
  src/components/nasjonal-oppgave/__tests__/apiError.test.tsx
  src/components/nasjonal-oppgave/__tests__/avvisOppgave.test.tsx
  src/components/nasjonal-oppgave/__tests__/loadPasient.test.tsx
  src/components/nasjonal-oppgave/__tests__/mulighetForArbeid.test.tsx
  src/components/nasjonal-oppgave/__tests__/oppgaveMapping.test.tsx
  src/components/nasjonal-oppgave/__tests__/submitOppgave.test.tsx
  src/components/nasjonal-oppgave/form/useOtherSykmeldingActions.ts
  src/components/nasjonal-oppgave/mock/mock-handler.ts
  src/components/nasjonal-oppgave/useNasjonalOppgave.ts
Due: yarn eslint --fix --max-warnings=0

chore: bump dependencies
  package.json
  public/mockServiceWorker.js
  yarn.lock
Due: yarn prettier --write

chore: add proxy to sykmelder url
  src/app/api/smreg/[[...path]]/config.ts
  src/components/nasjonal-oppgave/__tests__/smregTestUtils.tsx
  src/components/nasjonal-oppgave/form/sections/behandler/BehandlerInfo.tsx
  src/components/nasjonal-oppgave/mock/mock-handler.ts
Due: yarn eslint --fix --max-warnings=0

chore: add proxy to pasient url
  src/app/api/smreg/[[...path]]/config.ts
  src/components/nasjonal-oppgave/__tests__/loadPasient.test.tsx
  src/components/nasjonal-oppgave/__tests__/smregTestUtils.tsx
  src/components/nasjonal-oppgave/form/sections/PasientOpplysningerFormSection.tsx
  src/components/nasjonal-oppgave/mock/mock-handler.ts
Due: yarn eslint --fix --max-warnings=0

chore: add proxy to send oppgave url
  src/app/api/smreg/[[...path]]/config.ts
  src/components/nasjonal-oppgave/__tests__/apiError.test.tsx
  src/components/nasjonal-oppgave/__tests__/mulighetForArbeid.test.tsx
  src/components/nasjonal-oppgave/__tests__/submitOppgave.test.tsx
  src/components/nasjonal-oppgave/form/useNasjonalSykmeldingSubmitHandler.ts
  src/components/nasjonal-oppgave/mock/mock-handler.ts
Due: yarn eslint --fix --max-warnings=0

chore: add proxy to get ferdigstilt sykmelding url
  src/app/api/smreg/[[...path]]/config.ts
  src/components/nasjonal-oppgave/mock/mock-handler.ts
  src/components/nasjonal-oppgave/useNasjonalOppgave.ts
Due: yarn eslint --fix --max-warnings=0
