Repository navikt/syk-dig: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --no-ignore --write, yarn eslint --fix --no-ignore --max-warnings=0

.lintstagedrc:

{
    "*.{md,html,css,json,graphql,graphqls,md,mdx,js,yml,yaml}": "yarn prettier --no-ignore --write",
    "*.{ts,tsx}": "yarn eslint --fix --no-ignore --max-warnings=0"
}

chore: redirect sykmelding-redirect to new manuell ingress in dev-gcp
  .nais/redirect-dev.yaml
Due: yarn prettier --no-ignore --write

chore: redirect sykmelding-redirect to new manuell ingress in prod-gcp
  .nais/redirect-prod.yaml
Due: yarn prettier --no-ignore --write

chore: modernize github actions
  .github/workflows/deploy-redirect-dev.yml
  .github/workflows/deploy-redirect-prod.yml
  .github/workflows/deploy.yaml
  .nais/nais-demo.yaml
  .nais/nais-dev.yaml
  .nais/nais-prod.yaml
Due: yarn prettier --no-ignore --write

chore: newest yarn
  package.json
Due: yarn prettier --no-ignore --write

chore: bump all minors/patches
  next-env.d.ts
  package.json
  postcss.config.ts
  src/components/nasjonal-oppgave/form/NasjonalSykmeldingFormTypes.ts
  src/graphql/queries/graphql.generated.ts
  src/mocks/mock-resolvers.generated.ts
  src/toggles/rsc.ts
  src/toggles/utils.ts
  yarn.lock
Due: yarn prettier --no-ignore --write, yarn eslint --fix --no-ignore --max-warnings=0

chore: fix playwright runner
  .github/workflows/deploy.yaml
Due: yarn prettier --no-ignore --write

chore(deps): migrate major version of gql codegen
  codegen.ts
  package.json
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/types.generated.ts
  src/mocks/mock-resolvers.generated.ts
  yarn.lock
Due: yarn prettier --no-ignore --write, yarn eslint --fix --no-ignore --max-warnings=0

fix: tabbed pdf/form view bug
  src/components/split-view-layout/SplitDocumentView.tsx
  src/components/split-view-layout/useSplitDocumentState.tsx
  src/utils/analytics.ts
Due: yarn eslint --fix --no-ignore --max-warnings=0

style: fix up some CSS after aksel migration
  src/components/FormComponents/DiagnosePicker/DiagnosePicker.tsx
  src/components/form-layout/FormSection.tsx
  src/components/nasjonal-oppgave/form/sections/mulighet-for-arbeid/MulighetForArbeidSection.tsx
Due: yarn eslint --fix --no-ignore --max-warnings=0

fix: broken three way saksbehandlings redirect
  .nais/redirect-dev.yaml
  .nais/redirect-prod.yaml
Due: yarn prettier --no-ignore --write

chore: bump docker image, and nextjs version
  Dockerfile
  package.json
  yarn.lock
Due: yarn prettier --no-ignore --write

chore: bump docker image, and nextjs version (#477)
  Dockerfile
  package.json
  yarn.lock
Due: yarn prettier --no-ignore --write
