Repository navikt/syk-dig: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn prettier --write, yarn eslint --fix --max-warnings=0

Rydda vekk ubrukte flags
  src/pages/index.page.tsx
  src/pages/oppgave/[oppgaveId].page.tsx
Due: yarn eslint --fix --max-warnings=0

:construction:
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  src/pages/index.page.tsx
  src/pages/oppgave/[oppgaveId].page.tsx
Due: yarn eslint --fix --max-warnings=0

:sparkles: enable feature toggle
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  package.json
  src/auth/withAuth.ts
  src/pages/_app.page.tsx
  src/pages/index.page.tsx
  src/pages/oppgave/[oppgaveId].page.tsx
  src/toggles/context.tsx
  src/toggles/ssr.test.ts
  src/toggles/ssr.ts
  src/toggles/toggles.ts
  src/toggles/utils.ts
  src/utils/env.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

bump dependencies
  package.json
  yarn.lock
Due: yarn prettier --write

Update [oppgaveId].page.tsx
  src/pages/oppgave/[oppgaveId].page.tsx
Due: yarn eslint --fix --max-warnings=0

Updated contact info
  src/pages/oppgave/[oppgaveId].page.tsx
Due: yarn eslint --fix --max-warnings=0

drop !
  src/pages/oppgave/[oppgaveId].page.tsx
Due: yarn eslint --fix --max-warnings=0

remove mail
  src/pages/oppgave/[oppgaveId].page.tsx
Due: yarn eslint --fix --max-warnings=0

Contantinfo (#174)
  src/pages/oppgave/[oppgaveId].page.tsx
Due: yarn eslint --fix --max-warnings=0

Rerun redirect
  nais/redirect-dev.yaml
  nais/redirect-prod.yaml
Due: none

Rerun redirect (#175)
  nais/redirect-dev.yaml
  nais/redirect-prod.yaml
Due: none

updated ingressClassName
  nais/redirect-prod.yaml
Due: none

bump next 14 and others
  package.json
  yarn.lock
Due: yarn prettier --write

Fix defualt value in modia enhet
  src/graphql/localState/modia.ts
  src/modia/ModiaService.ts
Due: yarn eslint --fix --max-warnings=0

bump msw 2
  package.json
  public/mockServiceWorker.js
  src/mocks/browser.ts
  src/mocks/handlers-test.ts
  src/mocks/handlers.ts
  src/mocks/index.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

fix lint errors
  src/pages/index.page.tsx
  src/pages/registrer-sykmelding.page.tsx
Due: yarn eslint --fix --max-warnings=0

added buton
  src/pages/index.page.tsx
  src/pages/registrer-sykmelding.page.tsx
  src/pages/test.page.tsx
Due: yarn eslint --fix --max-warnings=0

fra tilbakemeldinger -> journalpostId
  src/pages/registrer-sykmelding.page.tsx
Due: yarn eslint --fix --max-warnings=0

add example journalpost query
  schema.json
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/journalpost.graphql
  src/mocks/handlers.ts
  src/pages/oppgave/[oppgaveId].page.tsx
  src/pages/registrer-sykmelding.page.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

style journalpost form
  src/mocks/handlers.ts
  src/pages/registrer-sykmelding.page.tsx
Due: yarn eslint --fix --max-warnings=0

✨ show journalpost documents
  schema.json
  src/components/OppgaveView/DocumentTabLabel.tsx
  src/components/OppgaveView/JournalpostDocumentsViewer.tsx
  src/components/OppgaveView/JournalpostView.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/journalpost.graphql
  src/mocks/handlers.ts
  src/pages/registrer-sykmelding.page.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

added 404 page for registrer-sykmelding
  src/pages/404.page.tsx
  src/pages/registrer-sykmelding.page.tsx
  src/toggles/utils.ts
Due: yarn eslint --fix --max-warnings=0

La til funksonalitet for å hente journalpost og vise dokumenter (#191)
  schema.json
  src/components/OppgaveView/DocumentTabLabel.tsx
  src/components/OppgaveView/JournalpostDocumentsViewer.tsx
  src/components/OppgaveView/JournalpostView.tsx
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/journalpost.graphql
  src/mocks/handlers.ts
  src/pages/404.page.tsx
  src/pages/index.page.tsx
  src/pages/oppgave/[oppgaveId].page.tsx
  src/pages/registrer-sykmelding.page.tsx
  src/pages/test.page.tsx
  src/toggles/utils.ts
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

create sykmelding button + schema update
  schema.json
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/journalpost.graphql
  src/pages/registrer-sykmelding.page.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

wip [skip ci]
  schema.json
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/journalpost.graphql
  src/graphql/queries/possible-types.generated.ts
  src/mocks/handlers.ts
  src/pages/registrer-sykmelding.page.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Returning fnr and displaying it
  schema.json
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/journalpost.graphql
  src/mocks/handlers.ts
  src/pages/registrer-sykmelding.page.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

Create sykmelding (#198)
  schema.json
  src/graphql/queries/graphql.generated.ts
  src/graphql/queries/journalpost.graphql
  src/graphql/queries/possible-types.generated.ts
  src/mocks/handlers.ts
  src/pages/registrer-sykmelding.page.tsx
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

yarn 4, node 20
  .github/workflows/demo-delete.yaml
  .github/workflows/deploy.yaml
  .yarn/plugins/@yarnpkg/plugin-interactive-tools.cjs
  .yarn/plugins/@yarnpkg/plugin-typescript.cjs
  .yarn/plugins/@yarnpkg/plugin-workspace-tools.cjs
  .yarn/releases/yarn-3.2.3.cjs
  .yarn/releases/yarn-4.0.2.cjs
  .yarnrc.yml
  Dockerfile
  package.json
  yarn.lock
Due: yarn prettier --write

bump all deps
  package.json
  public/mockServiceWorker.js
  src/pages/registrer-sykmelding.page.tsx
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

chore: bump deps
  package.json
  public/mockServiceWorker.js
  yarn.lock
Due: yarn prettier --write

chore: bump deps (#201)
  package.json
  public/mockServiceWorker.js
  yarn.lock
Due: yarn prettier --write

fix csp
  next.config.mjs
  package.json
  src/app/middleware.ts
  src/middleware.ts
  yarn.lock
Due: yarn prettier --write, yarn eslint --fix --max-warnings=0

use next/navigation
  src/middleware.ts
  src/utils/useParam.ts
  vitest.setup.ts
Due: yarn eslint --fix --max-warnings=0

Path conditions:
  yarn prettier --write: any of: *.{md,html,css,json,graphql,graphqls,md,mdx,js}
  yarn eslint --fix --max-warnings=0: any of: *.{ts,tsx}
